<div class="tab-pane" style="padding-right:unset; height: 100%; ">
    <table-data data-source="$$table.tableSource" 
                fields="$$table.tableFields" 
                type="MultiSelect" 
                paging="true" 
                page-length="100" 
                server-side="true" 
                press-enter="$$table.onSelectTableRow" 
                selected-items="$$table.selectedItems" 
                current-item="$$table.currentItem" 
                search-text="$$table.tableSearchText"
                refresh-row="$$table.refreshDataRow">
    </table-data>
</div>
<script>
    <%include file="scripts/evaluationfactor.js"/>
</script>
