<style>
    .hcs-demo-header-menu {
        padding: 20px;
        /* top: 47px !important; */
        /*left: 0 !important;*/
        transition: opacity 0.2s linear;
        border: 1px #bfbfbf solid;
        box-shadow: 0 0 30px 2px rgba(0,0,0,0.15);
        border-color: #5b6250 !important;
        background-color: #5b6250 !important;
        border-radius: unset !important;
        opacity: .85;
    }

    .hcs-demo-header-menu-top {
        text-transform: uppercase !important;
        margin-bottom: 10px !important;
        padding-left: 0px !important;
        border-bottom: 0 !important;
        padding-top: 0;
    }

    .hcs-demo-header-menu-title-1 {
        color: #fff !important;
        font-size: .8rem !important;
        font-weight: normal;
    }

    .hcs-demo-header-menu-title-2 {
        color: #fff !important;
        font-size: 1.2rem !important;
        font-weight: normal !important;
        overflow: visible;
        font-weight: bold;
        font-size: 1rem;
        /* display: inline-block; */
        word-wrap: break-word;
        white-space: normal;
    }

    .hcs-zb-header-custom {
        margin: 5px 10px;
        padding: 7px 0 !important;
        border-bottom: 1px solid #e5e5e5 !important;
    }

    .hcs-zb-header-title-custom {
        padding-top: 1px;
        font-size: 0.875rem !important;
        font-weight: normal !important;
        text-transform: capitalize !important;
        padding-left: 0 !important;
    }

    .hcs-message-group-custom {
        margin-right: 20px;
        overflow: hidden;
    }

    .hcs-zb-header-number-custom {
        margin-right: 5px;
        font-size: 1.5em !important;
        color: #ffc000 !important;
        top: 6px;
        position: relative;
    }

    .hcs-demo-no-absolute {
        position: unset !important;
    }

    .hcs-message-item {
        height: 100% !important;
    }

    .hcs-home-page-top-bar .hcs-home-page-top-bar-right .hcs-home-header-button .message-number {
        display: unset;
        text-align: center;
    }
</style>


<div class="hcs-home-page-top-bar navbar-fixed-top">
    <div class="hcs-home-page-top-bar-container">
        <!--BEGIN LEFT-->
        <div class="hcs-home-page-top-bar-left">
            <span class="hcs-btn-header-menu" id="btnShowMenu">
                <i class="bowtie-icon bowtie-menu"></i>
            </span>
            <div class="hcs-menu-list menu-hidden hcs-demo-header-menu">
                <div class="col-md-12 hcs-menu-list-title hcs-demo-header-menu-top" style="text-transform: uppercase;">
                    <p class="hcs-menu-title-1 hcs-demo-header-menu-title-1">Trung tâm điều hành</p>
                    <p class="hcs-menu-title-2 hcs-demo-header-menu-title-2" style="font-size: 17px;">Lao động thương binh & xã hội</p>
                </div>
                <div class="hcs-menu-list-group">
                    <!--<collapse-box ng-repeat="function in $functions track by $index" class="hcs-message-group hcs-message-group-custom" 
                                  title="{{function.custom_name.replace('/', ' ')}}" number="{{$index + 1}}" ng-if="!function.parent_id">
                        <div class="hcs-menu-group-content">
                            <a ng-repeat="child in function.child_items" href="{{'#page=' + child.function_id}}">
                               {{child.custom_name.replace('/', '')}}
                            </a>
                        </div>
                    </collapse-box>-->
                    <div class="hcs-message-group hcs-message-group-custom zb-collapse-box ng-scope" ng-repeat="function in $functions track by $index" title="Bộ chỉ tiêu ngành lđ - tb &amp; xh" number="1" ng-if="!function.parent_id">
                        <div class="zb-header hcs-zb-header-custom">
                            <div class="zb-header-left hcs-zb-header-left-custom">
                                <div class="zb-header-content hcs-zb-header-content-custom"> 
                                    <span class="zb-header-icon hcs-zb-header-icon-custom">                  
                                        <i class="bowtie-icon bowtie-chevron-left-light hcs-zb-icon-up-custom zb-icon-up"></i>         
                                    </span> 
                                    <span class="zb-header-number hcs-zb-header-number-custom">{{$index + 1}}</span> 
                                    <span class="zb-header-title hcs-zb-header-title-custom" ng-click="redirectPage(function)">
                                        {{function.custom_name.replace('/', ' ')}}
                                    </span> 
                                </div>
                            </div>
                            <div class="zb-header-right hcs-zb-header-right-custom"></div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="hcs-navbar-brand"><img src="{{$root.logo}}"></a>
        </div>
        <!--END LEFT-->
        <div class="pull-left" id="hcs-top-bar-current-module" style="text-transform: uppercase;">
            {{$root.currentModule.custom_name ? $root.currentModule.custom_name.split("/").join(" ") : $root.currentModule.default_name}}
        </div>
        <!--BEGIN RIGHT-->
        <div class="hcs-home-page-top-bar-right">
            <button class="btn btn-primary hcs-home-header-button" id="btnShowMessage">
                <span class="message-heartbit"></span>
                <span class="message-number">3</span>
                <span><i class="bowtie-icon bowtie-comment-discussion"></i></span>
            </button>
            <div class="hcs-message-list message-hidden">
                <div class="col-md-12 hcs-message-list-title">
                    <span>Bạn có 3 tin nhắn mới</span>
                </div>
                <div class="hcs-message-list-group">
                    <collapse-box class="hcs-message-group" title="Danh sách Hết hạn">
                        <div class="hcs-message-group-content">
                            <div class="hcs-message-item">
                                <span class="message-title hcs-demo-no-absolute">Sở Lao động - Thương binh và Xã hội thành phố Hồ Chí Minh</span><br />
                                <span class="message-description hcs-demo-no-absolute">Biểu mẫu số: 04-BCN</span><br />
                                <span class="message-description hcs-demo-no-absolute">Kỳ báo cáo: 6 tháng đầu năm 2018</span><br />
                                <span class="message-date hcs-demo-no-absolute">
                                    <i class="bowtie-icon bowtie-calendar"></i>15/07/2018 AM
                                </span>
                            </div>
                            <div class="hcs-message-item">
                                <span class="message-title hcs-demo-no-absolute">Sở Lao động - Thương binh và Xã hội thành phố Hà Nội</span><br />
                                <span class="message-description hcs-demo-no-absolute">Biểu mẫu số: 04-BCN</span><br />
                                <span class="message-description hcs-demo-no-absolute">Kỳ báo cáo: 6 tháng đầu năm 2018</span><br />
                                <span class="message-date hcs-demo-no-absolute">
                                    <i class="bowtie-icon bowtie-calendar"></i>15/07/2018 AM
                                </span>
                            </div>
                        </div>
                    </collapse-box>
                    <collapse-box class="hcs-message-group" title="Danh sách Đến hạn">
                        <div class="hcs-message-group-content">
                            <div class="hcs-message-item">
                                <span class="message-title hcs-demo-no-absolute">Sở Lao động - Thương binh và Xã hội thành phố Hồ Chí Minh</span><br />
                                <span class="message-description hcs-demo-no-absolute">Biểu mẫu số: 04-BCN</span><br />
                                <span class="message-description hcs-demo-no-absolute">Kỳ báo cáo: Năm 2018</span><br />
                                <span class="message-date hcs-demo-no-absolute">
                                    <i class="bowtie-icon bowtie-calendar"></i>15/01/2019 AM
                                </span>
                            </div>
                        </div>
                    </collapse-box>
                </div>
            </div>

            <div class="dropdown">
                <button class="btn btn-primary hcs-home-header-button" type="button" data-toggle="dropdown" style="padding-right: 0">
                    <span>     
                        <img class="language-icon" src="${get_static('css/images/login/ic_vn.jpg')}" style="height: 20px;
                            width: 20px;
                            border-radius: 20px;
                            margin-right: 5px;
                            float: left;" />
                    </span>
                </button>
                <!--<button class="btn btn-primary hcs-home-header-button" type="button" data-toggle="dropdown">
                    <span><i class="bowtie-icon bowtie-locale-language"></i></span>
                </button>-->
                <ul class="dropdown-menu hcs-home-button-language-menu">
                    <li>
                        <span class="language-title">Ngôn ngữ</span>
                    </li>
                    <li>
                        <a class="active">
                            <img class="language-icon" src="${get_static('css/images/login/ic_vn.jpg')}" />
                            <span>Tiếng Việt</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0)">
                            <img class="language-icon" src="${get_static('css/images/login/ic_en.jpg')}" />
                            <span>English</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--<button class="btn btn-primary hcs-home-header-button">
                <span><i class="bowtie-icon bowtie-view-full-screen"></i></span>
            </button>-->
            <div class="dropdown">
                <button class="btn btn-primary hcs-home-button-user" type="button" data-toggle="dropdown">
                    <!--<span class="glyphicon glyphicon-user"></span>-->
                    <span class="img-user"><i class="bowtie-icon bowtie-user"></i></span>
                    <span class="hcs-header-username">Bùi Hữu Tiến</span>
                    <span class="hcs-header-chevron"><i class="bowtie-icon bowtie-chevron-down"></i></span>
                </button>
                <ul class="dropdown-menu hcs-home-button-user-menu">
                    <li>
                        <div class="lv-button-logout" ng-click="" role="button" tabindex="0">
                            <i class="bowtie-icon bowtie-user"></i>
                            <span>Hồ sơ</span>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="lv-button-logout" ng-click="" role="button" tabindex="0">
                            <i class="bowtie-icon bowtie-status-info-outline"></i>
                            <span>Trợ giúp</span>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="lv-button-logout" ng-click="$root.doLogout()" role="button" tabindex="0">
                            <i class="bowtie-icon bowtie-status-failure-outline"></i>
                            <span>Thoát</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--<div class="pull-right" role="navigation">
            <div class="hcs-home-header-clock">
                <span class="hcs-home-header-clock-ampm ng-binding">{{$root.timer.meridiem}}</span>
                <span class="hcs-home-header-clock-time ng-binding">{{$root.timer.clock}}</span>
                <br>
                <span class="hcs-home-header-clock-date ng-binding">{{$root.timer.date}}</span>
            </div>
        </div>-->
        <!-- END RIGHT-->
    </div>
</div>
<script>
    $('#hcs-top-bar-menu ul li ul').css('display', 'none');
    $('.dropdown-menu').click(function (event) {
        event.stopPropagation();
    });
</script>