
<%!
    #_style="width:200px;"
%>
<!--style dropzone-->
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.css'>
<style>
.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.relation-rows {
    color: #23527c;
    text-decoration: none;
}
.relation-rows:hover {
    color: black;
    
}
</style>
<%inherit file="../commons/dialog_save_close.html"/>

<%block name="modal_body">
            <div class="col-md-{{col_group}} col-sm-{{col_group}}">
                <collapse-box class="zb-form-common" title="${get_res('add_new_material','Add a New Material')}">
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Mã Tài liệu, ID-->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('id','ID')}</label>
                            <div class="col-sm-7"> 
                                <input-text id="inputEmp_Train_Mode_Name" ng-model="entity.material_id" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Tên Tài liệu-->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('file_name','File Name')}</label>
                            <div class="col-sm-7"> 
                                <input-text id="inputEmp_Train_Mode_Name" ng-model="entity.material_name" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Mô tả tài liệu-->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('description','Description')}</label>
                            <div class="col-sm-7">
                                <div class="clearblock" style="display:inline-block"></div>
                                <input-textarea rows="4" ng-model="entity.description" required></input-textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Nguon dinh danh Tài liệu-->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('identifier','Identifier')}</label>
                            <div class="col-sm-7"> 
                                <input-text id="inputEmp_Train_Mode_Name" ng-model="entity.identifier" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Tên Khóa học-->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('material_type','Material Type')}</label>
                            <div class="col-sm-7"> 
                              <input-select ng-model="entity.material_type" data-list="cbbLMSLMaterialType" data-value="caption" data-caption="caption" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Tên Tác giả-->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('author','Author')}</label>
                            <div class="col-sm-7"> 
                                <input-text id="inputEmp_Train_Mode_Name" ng-model="entity.author_name" >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Tên nhà xuất bản-->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('publisher','Publisher')}</label>
                            <div class="col-sm-7"> 
                                <input-text id="inputEmp_Train_Mode_Name" ng-model="entity.publisher_name" >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Người tạo -->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('creator','Creator')}</label>
                            <div class="col-sm-7"> 
                                <input-text id="inputEmp_Train_Mode_Name" ng-model="entity.creator" disabled="disabled">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Ngày tài liệu có hiệu lực-->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('val_from','Valid from')}</label>
                            <div class="col-sm-7"> 
                                <date-picker ng-model="entity.date_valid_from" data-format="{{$root.systemConfig.date_format}}" required/>
                            </div>
                        </div> 
                    </div> 
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Danh mục-->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('category','Category')}</label>
                            <div class="col-sm-7" > 
                               <div class="pull-left" >
                                <span zb-required=""></span>
                                </div>
                                
                                <combobox load-data="$root.$getComboboxData" 
                                          ng-model="entity.category"
										  params="{key:'${encryptor.get_key('cbb_lmsls_materialfolder')}', value:[{ '@category': true }]}"
                                          on-search-change="false"
                                          on-search-press="true"
                                          placeholder=""
                                          init-data="$$$folder_id.value"
                                          caption-field="{{$$$folder_id.caption_field}}"
                                          paging="true"
                                          close-on-select="true"
                                          template-fields="$$$folder_id.display_fields"
                                          reload="false">
                                </combobox>

                        
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Tên Khóa học-->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('course','Course')}</label>
                            <div class="col-sm-7"> 
                              <input-select ng-model="entity.course_name" data-list="cbbLMSLCourse" data-value="caption" data-caption="caption" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Coverage-->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('coverage','Coverage')}</label>
                            <div class="col-sm-7"> 
                                 <input-text id="inputEmp_Train_Mode_Name" ng-model="entity.coverage" >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Phân loại các mối quan hệ của tài liệu -->
                            <label for="inputEmp_Train_Mode_Name2" class="col-sm-5 zb-form-label">${get_res('relation','Relation')}</label>
                            <div class="col-sm-7" style="padding-bottom:50px">
                                <div class="pull-left" >
                                <span zb-required=""></span>
                                </div>
                                <div class="pull-right" style="padding-top: 3px;">
                                <span class="bowtie-icon bowtie-math-plus-circle-outline" ng-click="addRows()" style="cursor: pointer;"  >
                                </span>
                                <span class="bowtie-icon bowtie-math-multiply-box-outline" ng-click="delRows()" style="cursor: pointer;" >
                                </span>
                                </div>
                                <div class="col-sm-12 " ng-repeat="elem in entity.relations track by $index">
                                    <div class="col-md-6 row" style=" padding: 0">
                                      <input-select ng-model="elem.ref_relation" 
                                                    data-list="cbbLMSLRelation" 
                                                    data-value="value" 
                                                    data-caption="caption"
                                                    ng-change="onChangeRelation"
                                                    except="entity.relations_ref"/>
                                    </div>
                                   <div class="col-md-6 pull-right row" style=" padding: 0">
                                      <input-text id="inputEmp_Train_Mode_Name" ng-model="elem.intro_relation">
                                    </div>
                                    
                                    <br/>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                  

                    
                   
                </collapse-box>
            </div>

            <div class="col-md-{{ 12 - col_group}} col-sm-{{ 12 - col_group}}">
                <collapse-box class="zb-form-common" title="${get_global_res('Note','Ghi chú')}">
                    <!--Column right-->
                    <div class="col-sm-{{col}}">
                        <!--Drag and drop file-->
                        <template-drag-drop limit-condition="[]"
                                            current-item="entity.files">
                        </template-drag-drop>
                        <br/>
                    </div>
                     <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Nguon dinh danh Tài liệu-->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('source','Source')}</label>
                            <div class="col-sm-7"> 
                                <input-text id="inputEmp_Train_Mode_Name" ng-model="entity.source" >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Tên Khóa học-->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('material_format','Material Format')}</label>
                            <div class="col-sm-7"> 
                              <input-select ng-model="entity.material_format" data-list="LMSLMaterialFormat" data-value="caption" data-caption="caption"  />
                            </div>
                        </div>
                    </div>
                     <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Ngày xuất bản-->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('date_pub','Date Published')}</label>
                            <div class="col-sm-7"> 
                                <date-picker ng-model="entity.publisher_date" data-format="{{$root.systemConfig.date_format}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Ngày tạo-->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('date_cre','Date Created')}</label>
                            <div class="col-sm-7"> 
                                <input-text id="inputEmp_Train_Mode_Name" ng-model="entity.submit_date | date:'dd/MM/yyyy'" disabled="disabled" >
                            </div>
                        </div>
                    </div>
                     <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Ngày tài liệu hết hiệu lực-->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('val_to','Valid to')}</label>
                            <div class="col-sm-7"> 
                                <date-picker ng-model="entity.date_valid_to" data-format="{{$root.systemConfig.date_format}}" />
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Phân loại các ngôn ngữ -->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('lang','Language')}</label>
                            <div class="col-sm-7"> 
                              <input-select ng-model="entity.language" data-list="cbbLDefaultLanguage" data-value="value" data-caption="caption" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <!--Phân loại các quyền truy cập tài liệu -->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('right','Rights')}</label>
                            <div class="col-sm-7"> 
                                <input-text id="inputEmp_Train_Mode_Name" ng-model="entity.rights"  required>
                            </div>
                        </div>
                    </div>
                </collapse-box>
            </div>
</%block>

<%block name="modal_script">
<script>
    (function (scope) {
        // List Relation 
        
        
    
        scope.__mode = scope.$parent.mode;
        scope.onResizeDialog = onResizeDialog;
        scope.col = 12;
        scope.col_group = 6;
        scope.col_conf_sal = 6;
        scope.title = scope.$parent.headerTitle;
        scope.customCbb = {};
        var __entity = JSON.parse(JSON.stringify(scope.$parent.currentItem ? scope.$parent.currentItem : {}));
        //Mode 1: tạo mới, Mode 2: chỉnh sửa, Mode 3: sao chép
        scope.entity = scope.__mode == 2 ? __entity : {};

        //combobox source
        scope.cbbTrainCof = scope.$parent.LAcadameRange;
        scope.cbbCoeff = scope.$parent.LAcadameCoEff;
        scope.cbbBeginDateCal = scope.$parent.LBeginDateCal;

        //Nút lưu và thêm
        scope.saveNNext = saveNNext;
        //Nút lưu
        scope.saveNClose = saveNClose;
        //Nút thêm chi tiết
        scope.addDetail = addDetail;
        //Nút xóa chi tiết
        scope.deleteDetail = deleteDetail;
        //Nút sửa chi tiết
        scope.editDetail = editDetail;

        scope.entity.category = scope.__mode === 1 ? "" : scope.entity.category;
        
        scope.entity.relations = scope.__mode === 1 ? [{}] : scope.entity.relations;

        scope.entity.submit_date = new Date();
        
        
        scope.entity.folder_id = null;
        //Cấu hình tên field và caption hiển thị trên UI
        scope.$$table = {
            "tableFields": [
                { "data": "role", "title": "${get_res('role_table_header','Role')}"},
                { "data": "full_control", "title": "${get_res('full_control_table_header','Full Control')}", "format": "checkbox"},
                { "data": "list_folder", "title": "${get_res('list_folder_content_table_header','List Folder Contents')}", "format": "checkbox"},
                { "data": "modify", "title": "${get_res('modify_table_header','Modify')}", "format": "checkbox"},
                { "data": "view", "title": "${get_res('view_table_header','View')}", "format": "checkbox" },
                { "data": "download", "title": "${get_res('download_table_header','Download')}", "format": "checkbox" }
            ],
            "$$tableConfig" : {},
            "tableSource": [],//_loadDataServerSide,
            "onSelectTableRow" : function ($row) {
                editDetail();
            },
            "selectedItems": [],
            "currentItem": null,
            "tableSearchText": "",
            "refreshDataRow" : function () { /*Do nothing*/ }
        }

        scope.$$cbbList = {
            cbbParent: [{}],
            cbbModerator: [{}],
            cbbApprover: [{}]
        }
        scope.SearchText = '';
        //Refesh table
        scope._tableData = _tableData;
        function _loadDataServerSide(fnReloadData, iPage, iPageLength, orderBy, searchText) {
            scope.$$tableConfig = {
                fnReloadData: fnReloadData,
                iPage: iPage,
                iPageLength: iPageLength,
                orderBy: orderBy,
                searchText: searchText
            };
            if (fnReloadData) {
                if (searchText) {
                    _tableData(iPage, iPageLength, orderBy, searchText, function (data) {
                        fnReloadData(data);
                    });
                } else {
                    _tableData(iPage, iPageLength, orderBy, null, function (data) {
                        fnReloadData(data);
                    });
                }
            }
        };
        function _tableData(iPage, iPageLength, orderBy, searchText, callback) {
            var dataItem = [{
                role: "System Admin",
                full_control: true,
                list_folder: false,
                modify: false,
                view: false,
                download: false,
            }, {
                role: "Instructor",
                full_control: false,
                list_folder: true,
                modify: false,
                view: true,
                download: true,
            }, {
                role: "Student",
                full_control: false,
                list_folder: true,
                modify: false,
                view: true,
                download: true,
            }];
            var data = {
                recordsTotal: dataItem.length,
                recordsFiltered: dataItem.length,
                data: dataItem
            };
            callback(data);
            scope.$$table.currentItem = null;
            scope.$apply();
            return
            var sort = {};
            $.each(orderBy, function (i, v) {
                sort[v.columns] = (v.type === "asc") ? 1 : -1;
            });
            sort[orderBy[0].columns] =
                services.api("${get_api_key('app_main.api.LMSLS_MaterialFolder/get_list_with_searchtext')}")
                    .data({
                        //parameter at here
                        "train_level_code": scope.entity ? scope.entity.train_level_code : " ",
                        "pageIndex": iPage - 1,
                        "pageSize": iPageLength,
                        "search": searchText,
                        "sort": sort
                    })
                    .done()
                    .then(function (res) {
                        var data = {
                            recordsTotal: res.total_items,
                            recordsFiltered: res.total_items,
                            data: res.items
                        };
                        callback(data);
                        scope.$$table.currentItem = null;
                        scope.$apply();
                        
                    })
        }
        scope.loadLoginAccount = function () {
                
            services.api("${get_api_key('app_main.api.LMSLS_MaterialManagement/get_data_info_login_account')}")
                .data({
                    
                })
                .done()
                .then(function (res) {
                    scope.entity.creator = res.login_account
                    scope.$applyAsync();
                })
        }
        scope.loadLoginAccount()
        /**
         *         
         * Thay đỗi kích thước form Dialog và các control trên form dialog
         */
        function onResizeDialog() {
            $dialog.fullScreen();
            scope.col = scope.col == 12 ? 6 : 12;
            scope.col_group = scope.col_group == 6 ? 8 : 6;
            scope.col_conf_sal = scope.col_conf_sal == 6 ? 4 : 6;
        }

        function saveNClose() {
            debugger
            if (scope.entity != null) {
                var rsCheck = checkError();//Kết quả check input
                if (rsCheck.result) {
                    $msg.message("${get_global_res('Input_Error','Nhập liệu sai')}", rsCheck.errorMsg, function () { });
                    return;
                }
                beforeCallToServer();
                editData(function (res) {
                    if (res.error == null) {
                        $dialog.closeDialog();//Đóng form input
                        $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);//Xuất thông báo thành cônng
                        if (scope.__mode == 1 || scope.__mode == 3) {
                            
                            reloadData();
                        } else if (scope.__mode == 2) {
                            
                            scope.$parent.currentItem = scope.entity;
                            scope.$parent.currentItem.material_version = scope.entity.material_version
                            scope.$parent.currentItem.modified_on = res.item.modified_on;
                            scope.$parent.currentItem.modified_by = res.item.modified_by;
                            scope.$parent.$apply();
                            scope.$root.refresh();
                            //Refesh datatable
                            scope.$parent.refreshDataRow();
                        }
                    } else {
                        $msg.message("${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", "${get_global_res('Please_Try_Again','Xin thử vui lòng thử lại')}", function () { });
                    }
                });
            }
        }

        function saveNNext() {
            if (scope.entity != null) {
                var rsCheck = checkError();//Kết quả check input
                if (rsCheck.result) {
                    //Nhập sai: break khỏi hàm
                    $msg.message("${get_global_res('Input_Error','Nhập liệu sai')}", rsCheck.errorMsg, function () { });
                    return;
                }
                beforeCallToServer();
                editData(function (res) {
                    if (res.error == null) {
                        if (scope.__mode == 1 || scope.__mode == 3)
                            reloadData();
                        else {
                            scope.$parent.currentItem = scope.entity;
                            scope.$parent.currentItem.modified_on = res.item.modified_on;
                            scope.$parent.currentItem.modified_by = res.item.modified_by;
                            scope.$parent.$apply();
                            scope.$root.refresh();
                            //Refesh datatable
                            scope.$parent.refreshDataRow();
                        }
                        $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);
                        scope.entity = {};
                        scope.entity.relations = [{}];
                        scope.entity.submit_date = new Date();
                        scope.__mode = 1;
                        scope.$apply();
                    } else {
                        $msg.message("${get_global_res('Notification','Thông báo')}", "${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", function () { });
                    }
                })
            } else {
                $msg.message("${get_global_res('Input_Error','Nhập liệu sai')}", rsCheck.errorMsg, function () { });
            }
        }

        function addDetail() {
            scope.__detailMode = 1;
            openDialog("${get_res('config_detail_acadame','Thiết lập chi tiết trình độ học vấn')}", 'category/form/dialog/addAcadameDetail', function () { }, "dialogInputAcadameDetail");
        }

        function editDetail() {
            if (scope.$$table.currentItem) {
                scope.__detailMode = 2; // set mode chỉnh sửa
                openDialog("${get_res('config_detail_acadame','Thiết lập chi tiết trình độ học vấn')}", 'category/form/dialog/addAcadameDetail', function () { }, "dialogInputAcadameDetail");
            } else {
                $msg.message("${get_global_res('Notification','Thông báo')}", "${get_app_res('No_Row_Selected','Không có dòng được chọn')}", function () { });
            }
        }

        function deleteDetail() {
            if (!scope.$$table.selectedItems || scope.$$table.selectedItems.length === 0) {
            $msg.message("${get_global_res('Notification','Thông báo')}", "${get_global_res('No_Row_Selected','Không có dòng được chọn')}", function () { });
            } else {
                $msg.confirm("${get_global_res('Notification','Thông báo')}", "${get_global_res('Do_You_Want_Delete','Bạn có muốn xóa không?')}", function () {
                    services.api("${get_api_key('app_main.api.HCSLS_Acadame/delete_detail')}")
                        .data({
                            "train_level_code":scope.entity.train_level_code,
                            "rec_id": _.pluck(scope.$$table.selectedItems, 'rec_id')
                        })
                        .done()
                        .then(function (res) {
                            if (res.updatedExisting == true) {
                                _tableData(scope.$$table.$$tableConfig.iPage, scope.$$table.$$tableConfig.iPageLength, scope.$$table.$$tableConfig.orderBy, scope.$$table.$$tableConfig.SearchText, scope.$$table.$$tableConfig.fnReloadData);
                                $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);
                                scope.$$table.currentItem = null;
                                scope.$$table.selectedItems = [];
                            }
                            if (res.error != null || res.updatedExisting == false) {
                                $msg.alert("${get_global_res('Handle_Failed','Thao tác thất bại')}", $type_alert.DANGER);
                            }
                        })
                });
            }
        }

        function editData(callback) {
            var url = getUrl();
            scope.entity.link_file = '${get_app_url("")}' + '/download?id=' + scope.entity.material_id;
            if (scope.__mode == 3) {

            }
            if (scope.__mode == 1) {
               /* if (scope.entity.parent_code === 'root') {
                    scope.entity.parent_id = null;
                    scope.entity.parent_code = null;
                    scope.entity.level = 1;
                    scope.entity.level_code = [
                        scope.entity.folder_id
                    ];
                } else {
                   var dataLevelCode = scope.entity.customData.filter(function (el) {
                        return el["level_code"];
                    })
                    var level = scope.entity.customData.filter(function (el) {
                        return el["level"];
                    })
                    scope.entity.parent_code = scope.entity.parent_code;
                    scope.entity.parent_id = null;
                    scope.entity.level = dataLevelCode[0]["level"] + 1;
                    dataLevelCode[0]["level_code"].push(scope.entity.folder_id);
                    scope.entity.level_code = dataLevelCode[0]["level_code"];
                }
            } else if (scope.__mode == 2) {
                for (var i = 0; i < scope.entity.level_code.length; i++) {
                    if (scope.entity.level_code[i] == scope.parent_code_old) {
                        scope.entity.level_code[i] = scope.entity.parent_code;
                    }
                }*/
            }
            services.api(url)
                .data(scope.entity)
                .done()
                .then(function (res) {
                    callback(res);
                })
        }

        function beforeCallToServer() {

        }

        function getUrl() {
            return scope.__mode == 1 || scope.__mode == 3 ? "${get_api_key('app_main.api.LMSLS_MaterialManagement/insert')}" /*Mode 1: Tạo mới*/
                    : "${get_api_key('app_main.api.LMSLS_MaterialManagement/update')}" /*Mode 2: Cập nhật*/
        }

        function reloadData() {
            var tableConfig = scope.$root.$$tableConfig;
            scope.$root._tableData(tableConfig.iPage,
            tableConfig.iPageLength, tableConfig.orderBy,
                tableConfig.searchText, tableConfig.fnReloadData);
            //
            scope.$root._departments();
        }

        /**
         * Function check input
         */
        function checkError() {
            var errMsg;
            var valid = null;
            var rs = {
                "result": false,
                "errorMsg": ''
            };
            valid = lv.Validate(scope.entity.material_id);
            rs.result = valid.isNullOrWhiteSpace();
            rs.errorMsg = rs.result === true ? "${get_res('material_id_is_not_null','Mã Tài liệu không được để trống')}" + '\n' : "" ;
            if(rs.result === true){
                return rs;
            }
            valid = lv.Validate(scope.entity.material_name);
            rs.result = valid.isNullOrWhiteSpace();
            rs.errorMsg = rs.result === true ? "${get_res('material_name_not_null','Tên Tài liệu không được để trống')}" + '\n' : "" ;
            if(rs.result === true){
                return rs;
            }
            valid = lv.Validate(scope.entity.description);
            rs.result = valid.isNullOrWhiteSpace();
            rs.errorMsg = rs.result === true ? "${get_res('description_not_null','Mô tả tài liệu không được để trống')}" + '\n' : "" ;
            if(rs.result === true){
                return rs;
            }
            //valid = lv.Validate(scope.entity.date_valid_from);
            //rs.result = valid.isDate();
            //rs.errorMsg = rs.result === true ? "${get_res('date_valid_from_is_not_null','Ngày tài liệu có hiệu lực không được để trống')}" + '\n' : "" ;
            //if(rs.result === true){
            //    return rs; 
            //}
            valid = lv.Validate(scope.entity.identifier);
            rs.result = valid.isNullOrWhiteSpace();
            rs.errorMsg = rs.result === true ? "${get_res('identifier_is_not_null','Nguồn định danh tài liệu không được để trống')}" + '\n' : "" ;
            if(rs.result === true){
                return rs;
            }
            valid = lv.Validate(scope.entity.material_type);
            rs.result = valid.isNullOrWhiteSpace();
            rs.errorMsg = rs.result === true ? "${get_res('material_type_is_not_null','Loại tài liệu không được để trống')}" + '\n' : "" ;
            if(rs.result === true){
                return rs;
            }
            valid = lv.Validate(scope.entity.category);
            rs.result = valid.isNullOrWhiteSpace();
            rs.errorMsg = rs.result === true ? "${get_res('category_is_not_null','Danh mục không được để trống')}" + '\n' : "" ;
            if(rs.result === true){
                return rs;
            }
            valid = lv.Validate(scope.entity.relations[0].ref_relation);
            rs.result = valid.isNullOrWhiteSpace();
            rs.errorMsg = rs.result === true ? "${get_res('relations_not_null','Mối quan hệ liên quan tài liệu không được để trống')}" + '\n' : "" ;
            if(rs.result === true){
                return rs;
            }
            valid = lv.Validate(scope.entity.relations[0].intro_relation);
            rs.result = valid.isNullOrWhiteSpace();
            rs.errorMsg = rs.result === true ? "${get_res('relations_not_null','Mối quan hệ liên quan tài liệu không được để trống')}" + '\n' : "" ;
            if(rs.result === true){
                return rs;
            }
            valid = lv.Validate(scope.entity.rights);
            rs.result = valid.isNullOrWhiteSpace();
            rs.errorMsg = rs.result === true ? "${get_res('rights_not_null','Phân loại các quyền  truy cập tài liệu không được để trống')}" + '\n' : "" ;
            if(rs.result === true){
                return rs;
            }

            if (scope.entity.files) {
                valid = lv.Validate(scope.entity.files.file_data);
                rs.result = valid.isNullOrWhiteSpace();
                rs.errorMsg = rs.result === true ? "${get_res('files_not_null','File tài liệu không được để trống')}" + '\n' : "";
                if (rs.result === true) {
                    return rs;
                }
            } else {
                valid = lv.Validate("");
                rs.result = valid.isNullOrWhiteSpace();
                rs.errorMsg = rs.result === true ? "${get_res('files_not_null','File tài liệu không được để trống')}" + '\n' : "";
                if (rs.result === true) {
                    return rs;
                }
            }
            return rs;
        }

        

        /**
         * Hàm mở dialog
         * @param {string} title Tittle của dialog
         * @param {string} path Đường dẫn file template
         * @param {function} callback Xử lí sau khi gọi dialog
         * @param {string} id Id của form dialog, default = 'myModal'
         */
        function openDialog(title, path, callback, id = 'myModal') {

            //check tồn tại của form dialog theo id
            if ($('#' + id).length === 0) {
                scope.headerTitle = title;
                //Đặt ID cho form dialog
                dialog(scope, id).url(path).done(function () {
                    callback();
                    //Set draggable cho form dialog
                    $dialog.draggable();
                });
            }
        }

        //scope.$watch('entity.coeff', function (val, old) {
        //    if (val == 2) {
        //        setTimeout(function () {
        //            $(window).trigger('resize');
        //        }, 200);
        //    }
        //}, true)
        loadValueList();
        function loadValueList() {
            services.api("${get_api_key('app_main.api.SYS_ValueList/get_list')}")
            .data({
                "name": [
                    "LDefaultLanguage",
                    "LMSLRights",
                    "LMSLCourse",
                    "LMSLCoverage",
                    "LMSLRelation",
                    "LMSLMaterialType",
                    "LMSLMaterialFormat",

                ]
            })
            .done()
            .then(function (res) {
                scope.cbbLDefaultLanguage = getValue(res.values, "LDefaultLanguage");
                scope.cbbLMSLRights = getValue(res.values, "LMSLRights");
                scope.cbbLMSLCourse = getValue(res.values, "LMSLCourse");
                scope.cbbLMSLCoverage = getValue(res.values, "LMSLCoverage");    
                scope.cbbLMSLRelation = getValue(res.values, "LMSLRelation");
                scope.cbbLMSLMaterialType = getValue(res.values, "LMSLMaterialType");
                scope.cbbLMSLMaterialFormat = getValue(res.values, "LMSLMaterialFormat");
                scope.$applyAsync();
                function getValue(response, listName) {
                    return _.findWhere(response, { "list_name": listName }) ? _.findWhere(response, { "list_name": listName }).values : [];
                }
            })
        }
        
        
        scope.cbbLMSLRelation_temp = function () {
            var filtered = [];
            var arr = scope.cbbLMSLRelation;
            while (true) {
                if (!scope.cbbLMSLRelation) {
                    break
                }
            }
             for (var i = 0; i < arr.length; i++) {
                    if (arr[i].caption != 'relation lv1') {
                        filtered.push(arr[i])
                    }
                }
              return filtered;
                          
        }
        
        scope.addRows = function () {
            if (scope.entity.relations.length <  scope.cbbLMSLRelation.length) {
                scope.entity.relations.push({});
            }
           
        }
        
        scope.delRows = function () {
            if (scope.entity.relations.length > 1) {
                scope.entity.relations.splice(-1,1);
            }
        }
        
        function _getDataInitCombobox() {
			scope.$root.$getInitComboboxData(scope,
				{
                    "key": "${encryptor.get_key('cbb_lmsls_materialfolder')}",
                    "code": scope.entity && scope.entity.hasOwnProperty('category')? scope.entity.category: null,
                    "alias": "$$$folder_id"
                }
			);
		}
        _getDataInitCombobox();
         scope.$watch("entity.category", function () {
           
             services.api("${get_api_key('app_main.api.LMSLS_MaterialFolder/get_level_code_by_folder_id')}")
                .data({
                    "where": {
                        'folder_id': scope.entity.category
                    }
                })
                .done()
                .then(function (res) {
                    scope.entity.level_code = res.items[0].level_code
                })
        })

        scope.$watch("entity.relations", function (val) {
            //if (val && val.length > 0) {
            //    var relations_valuelist = [];
            //    if (scope.cbbLMSLRelation) {
            //        $.each(scope.entity.relations, function (i, v) {
            //            relations_valuelist.push()
            //        });
            //    }
            //    scope.entity.relations_valuelist = relations_valuelist;
            //    scope.$apply();
            //}
        })
        //scope.$watchCollection("entity.relations", function () {
        //    debugger
        //})
        scope.$watch("entity.relations.ref_relation", function () {
            //debugger
        })
        scope.$watchCollection("entity.relations.ref_relation", function () {
            //debugger
        })
        scope.onChangeRelation = function (val) {
            setTimeout(function () {
                var relations_ref = [];
                $.each(scope.entity.relations, function (i, v) {
                    if (v.ref_relation) {
                        relations_ref.push(v.ref_relation);
                    }
                });
                scope.entity.relations_ref = relations_ref;
                scope.$applyAsync();
            }, 300);
        }
    });
</script>

</%block>