
<%!
    #_style="width:200px;"
%>




<%inherit file="../commons/dialog_save_close.html"/>

<%block name="modal_body">
        
            <div class="col-md-{{col_group}} col-sm-{{col_group}}">
                
                <collapse-box class="zb-form-common" title="${get_res('add_new_material','Add a Question Category')}">
                    <div class="col-md-2 col-sm-2">
                     </div>
                    <div class="col-md-8 col-sm-8">
                    <div class="col-md-{{col}}" style="padding-bottom: 20px;">
                        <div class="form-group zb-form-group">
                            <!--Mã Tài liệu, ID-->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('category_id','Category ID')}</label>
                            <div class="col-sm-7"> 
                                <input-text id="inputEmp_Train_Mode_Name" ng-model="entity.category_id" required>
                            </div>
                        </div>
                    </div>
                       
                    <div class="col-md-{{col}}"style="padding-bottom: 20px;">
                        <div class="form-group zb-form-group">
                            <!--Tên Tài liệu-->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('category_name','Category Name 1')}</label>
                            <div class="col-sm-7"> 
                                <input-text id="inputEmp_Train_Mode_Name" ng-model="entity.category_name" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}" style="padding-bottom: 20px;">
                        <div class="form-group zb-form-group">
                            <!--Tên Tài liệu-->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('category_name2','Category Name 2')}</label>
                            <div class="col-sm-7"> 
                                <input-text id="inputEmp_Train_Mode_Name" ng-model="entity.category_name2" >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}" style="padding-bottom: 20px;">
                        <div class="form-group zb-form-group">
                            <!--Nguon dinh danh Tài liệu-->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('order','Order')}</label>
                            <div class="col-sm-7"> 
                                <input-number id="inputEmp_Train_Mode_Name" ng-model="entity.order" >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-{{col}}" style="padding-bottom: 20px;">
                        <div class="form-group zb-form-group">
                            <!--Mô tả tài liệu-->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('note','Note')}</label>
                            <div class="col-sm-7">
                                <div class="clearblock" style="display:inline-block"></div>
                                <input-textarea rows="4" ng-model="entity.note" ></input-textarea>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-{{col}}" style="padding-bottom: 20px;">
                        <div class="form-group zb-form-group">
                            <!--Tên Khóa học-->
                            <label for="inputEmp_Train_Mode_Name" class="col-sm-5 zb-form-label">${get_res('is_active','Is Active')}</label>
                            <div class="col-sm-7"> 
                              <input-checkbox ng-model="entity.active"/>
                            </div>
                        </div>
                    </div>
                    </div>
                   <div class="col-md-2 col-sm-2">
                </div>
                </collapse-box>
                
            </div>

</%block>

<%block name="modal_script">
<script>
    (function (scope) {

        
        
    
        scope.__mode = scope.$parent.mode;
        scope.onResizeDialog = onResizeDialog;
        scope.col = 12;
        scope.col_group = 12;
        scope.col_conf_sal = 12;
        scope.title = scope.$parent.headerTitle;
        scope.customCbb = {};
        var __entity = JSON.parse(JSON.stringify(scope.$parent.currentItem ? scope.$parent.currentItem : {}));
        //Mode 1: tạo mới, Mode 2: chỉnh sửa, Mode 3: sao chép
        scope.entity = scope.__mode == 2 ? __entity : {};

        //combobox source
        scope.cbbTrainCof = scope.$parent.LAcadameRange;
        scope.cbbCoeff = scope.$parent.LAcadameCoEff;
        scope.cbbBeginDateCal = scope.$parent.LBeginDateCal;

        //Nút lưu và thêm
        scope.saveNNext = saveNNext;
        //Nút lưu
        scope.saveNClose = saveNClose;
        //Nút thêm chi tiết
        scope.addDetail = addDetail;
        //Nút xóa chi tiết
        scope.deleteDetail = deleteDetail;
        //Nút sửa chi tiết
        scope.editDetail = editDetail;


        scope.entity.submit_date = new Date();
        
        
        scope.entity.folder_id = null;
        //Cấu hình tên field và caption hiển thị trên UI
        scope.$$table = {
            "tableFields": [
                { "data": "role", "title": "${get_res('role_table_header','Role')}"},
                { "data": "full_control", "title": "${get_res('full_control_table_header','Full Control')}", "format": "checkbox"},
                { "data": "list_folder", "title": "${get_res('list_folder_content_table_header','List Folder Contents')}", "format": "checkbox"},
                { "data": "modify", "title": "${get_res('modify_table_header','Modify')}", "format": "checkbox"},
                { "data": "view", "title": "${get_res('view_table_header','View')}", "format": "checkbox" },
                { "data": "download", "title": "${get_res('download_table_header','Download')}", "format": "checkbox" }
            ],
            "$$tableConfig" : {},
            "tableSource": [],//_loadDataServerSide,
            "onSelectTableRow" : function ($row) {
                editDetail();
            },
            "selectedItems": [],
            "currentItem": null,
            "tableSearchText": "",
            "refreshDataRow" : function () { /*Do nothing*/ }
        }

        scope.$$cbbList = {
            cbbParent: [{}],
            cbbModerator: [{}],
            cbbApprover: [{}]
        }
        scope.SearchText = '';
        //Refesh table
        scope._tableData = _tableData;
        function _loadDataServerSide(fnReloadData, iPage, iPageLength, orderBy, searchText) {
            scope.$$tableConfig = {
                fnReloadData: fnReloadData,
                iPage: iPage,
                iPageLength: iPageLength,
                orderBy: orderBy,
                searchText: searchText
            };
            if (fnReloadData) {
                if (searchText) {
                    _tableData(iPage, iPageLength, orderBy, searchText, function (data) {
                        fnReloadData(data);
                    });
                } else {
                    _tableData(iPage, iPageLength, orderBy, null, function (data) {
                        fnReloadData(data);
                    });
                }
            }
        };
        function _tableData(iPage, iPageLength, orderBy, searchText, callback) {
            var dataItem = [{
                role: "System Admin",
                full_control: true,
                list_folder: false,
                modify: false,
                view: false,
                download: false,
            }, {
                role: "Instructor",
                full_control: false,
                list_folder: true,
                modify: false,
                view: true,
                download: true,
            }, {
                role: "Student",
                full_control: false,
                list_folder: true,
                modify: false,
                view: true,
                download: true,
            }];
            var data = {
                recordsTotal: dataItem.length,
                recordsFiltered: dataItem.length,
                data: dataItem
            };
            callback(data);
            scope.$$table.currentItem = null;
            scope.$apply();
            return
            var sort = {};
            $.each(orderBy, function (i, v) {
                sort[v.columns] = (v.type === "asc") ? 1 : -1;
            });
            sort[orderBy[0].columns] =
                services.api("${get_api_key('app_main.api.LMSLS_ExQuestionCategory/get_list_with_searchtext')}")
                    .data({
                        //parameter at here
                        "train_level_code": scope.entity ? scope.entity.train_level_code : " ",
                        "pageIndex": iPage - 1,
                        "pageSize": iPageLength,
                        "search": searchText,
                        "sort": sort
                    })
                    .done()
                    .then(function (res) {
                        var data = {
                            recordsTotal: res.total_items,
                            recordsFiltered: res.total_items,
                            data: res.items
                        };
                        callback(data);
                        scope.$$table.currentItem = null;
                        scope.$apply();
                        
                    })
        }

        /**
         *         
         * Thay đỗi kích thước form Dialog và các control trên form dialog
         */
        function onResizeDialog() {
            $dialog.fullScreen();
            scope.col = scope.col == 12 ? 6 : 12;
            scope.col_group = scope.col_group == 6 ? 8 : 6;
            scope.col_conf_sal = scope.col_conf_sal == 6 ? 4 : 6;
        }

        function saveNClose() {
            debugger
            if (scope.entity != null) {
                var rsCheck = checkError();//Kết quả check input
                if (rsCheck.result) {
                    $msg.message("${get_global_res('Input_Error','Nhập liệu sai')}", rsCheck.errorMsg, function () { });
                    return;
                }
                beforeCallToServer();
                editData(function (res) {
                    if (res.error == null) {
                        $dialog.closeDialog();//Đóng form input
                        $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);//Xuất thông báo thành cônng
                        if (scope.__mode == 1 || scope.__mode == 3) {
                            
                            reloadData();
                        } else if (scope.__mode == 2) {
                            
                            scope.$parent.currentItem = scope.entity;
                           // scope.$parent.currentItem.material_version = scope.entity.material_version
                            scope.$parent.currentItem.modified_on = res.item.modified_on;
                            scope.$parent.currentItem.modified_by = res.item.modified_by;
                            scope.$parent.$apply();
                            scope.$root.refresh();
                            //Refesh datatable
                            scope.$parent.refreshDataRow();
                        }
                    } else {
                        $msg.message("${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", "${get_global_res('Please_Try_Again','Xin thử vui lòng thử lại')}", function () { });
                    }
                });
            }
        }

        function saveNNext() {
            debugger
            if (scope.entity != null) {
                var rsCheck = checkError();//Kết quả check input
                if (rsCheck.result) {
                    //Nhập sai: break khỏi hàm
                    $msg.message("${get_global_res('Input_Error','Nhập liệu sai')}", rsCheck.errorMsg, function () { });
                    return;
                }
                beforeCallToServer();
                editData(function (res) {
                    if (res.error == null) {
                        if (scope.__mode == 1 || scope.__mode == 3)
                            reloadData();
                        else {
                            scope.$parent.currentItem = scope.entity;
                            scope.$parent.currentItem.modified_on = res.item.modified_on;
                            scope.$parent.currentItem.modified_by = res.item.modified_by;
                            scope.$parent.$apply();
                            scope.$root.refresh();
                            //Refesh datatable
                            scope.$parent.refreshDataRow();
                        }
                        $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);
                        scope.entity = {};
                        scope.entity.submit_date = new Date();
                        scope.__mode = 1;
                        scope.$apply();
                    } else {
                        $msg.message("${get_global_res('Notification','Thông báo')}", "${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", function () { });
                    }
                })
            } else {
                $msg.message("${get_global_res('Input_Error','Nhập liệu sai')}", rsCheck.errorMsg, function () { });
            }
        }

        function addDetail() {
            scope.__detailMode = 1;
            openDialog("${get_res('config_detail_acadame','Thiết lập chi tiết trình độ học vấn')}", 'category/form/dialog/addAcadameDetail', function () { }, "dialogInputAcadameDetail");
        }

        function editDetail() {
            if (scope.$$table.currentItem) {
                scope.__detailMode = 2; // set mode chỉnh sửa
                openDialog("${get_res('config_detail_acadame','Thiết lập chi tiết trình độ học vấn')}", 'category/form/dialog/addAcadameDetail', function () { }, "dialogInputAcadameDetail");
            } else {
                $msg.message("${get_global_res('Notification','Thông báo')}", "${get_app_res('No_Row_Selected','Không có dòng được chọn')}", function () { });
            }
        }

        function deleteDetail() {
            if (!scope.$$table.selectedItems || scope.$$table.selectedItems.length === 0) {
            $msg.message("${get_global_res('Notification','Thông báo')}", "${get_global_res('No_Row_Selected','Không có dòng được chọn')}", function () { });
            } else {
                $msg.confirm("${get_global_res('Notification','Thông báo')}", "${get_global_res('Do_You_Want_Delete','Bạn có muốn xóa không?')}", function () {
                    services.api("${get_api_key('app_main.api.HCSLS_Acadame/delete_detail')}")
                        .data({
                            "train_level_code":scope.entity.train_level_code,
                            "rec_id": _.pluck(scope.$$table.selectedItems, 'rec_id')
                        })
                        .done()
                        .then(function (res) {
                            if (res.updatedExisting == true) {
                                _tableData(scope.$$table.$$tableConfig.iPage, scope.$$table.$$tableConfig.iPageLength, scope.$$table.$$tableConfig.orderBy, scope.$$table.$$tableConfig.SearchText, scope.$$table.$$tableConfig.fnReloadData);
                                $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);
                                scope.$$table.currentItem = null;
                                scope.$$table.selectedItems = [];
                            }
                            if (res.error != null || res.updatedExisting == false) {
                                $msg.alert("${get_global_res('Handle_Failed','Thao tác thất bại')}", $type_alert.DANGER);
                            }
                        })
                });
            }
        }

        function editData(callback) {
            var url = getUrl();
           
            if (scope.__mode == 3) {

            }
            if (scope.__mode == 1) {

            }
            services.api(url)
                .data(scope.entity)
                .done()
                .then(function (res) {
                    callback(res);
                })
        }

        function beforeCallToServer() {

        }

        function getUrl() {
            return scope.__mode == 1 || scope.__mode == 3 ? "${get_api_key('app_main.api.LMSLS_ExQuestionCategory/insert')}" /*Mode 1: Tạo mới*/
                    : "${get_api_key('app_main.api.LMSLS_ExQuestionCategory/update')}" /*Mode 2: Cập nhật*/
        }

        function reloadData() {
            var tableConfig = scope.$root.$$tableConfig;
            scope.$root._tableData(tableConfig.iPage,
            tableConfig.iPageLength, tableConfig.orderBy,
                tableConfig.searchText, tableConfig.fnReloadData);
            //
            scope.$root._departments();
        }

        /**
         * Function check input
         */
        function checkError() {
            var errMsg;
            var valid = null;
            var rs = {
                "result": false,
                "errorMsg": ''
            };
            valid = lv.Validate(scope.entity.category_id);
            rs.result = valid.isNullOrWhiteSpace();
            rs.errorMsg = rs.result === true ? "${get_res('category_id_is_not_null','Mã danh mục câu hỏi không được để trống')}" + '\n' : "" ;
            if(rs.result === true){
                return rs;
            }
            valid = lv.Validate(scope.entity.category_name);
            rs.result = valid.isNullOrWhiteSpace();
            rs.errorMsg = rs.result === true ? "${get_res('category_name_not_null','Tên danh mục câu hỏi được để trống')}" + '\n' : "" ;
            if(rs.result === true){
                return rs;
            }
            return rs;
        }

        

        function _getDataInitCombobox() {
			
			scope.$root.$getInitComboboxData(scope,
				{
                    "key": "${encryptor.get_key('cbb_lmsls_materialfolder')}",
                    "code": scope.entity && scope.entity.hasOwnProperty('category')? scope.entity.category: null,
                    "alias": "$$$folder_id"
                }
			);
		}
        _getDataInitCombobox();

    });
</script>

</%block>