
<%!
    #_style="width:200px;"
%>
<%inherit file="../commons/dialog_accepted.html"/>

<%block name="modal_body">
<div class="col-md-12">
    <collapse-box class="zb-form-common" title="${get_res('advanced_search','Advanced Search')}">
        <div class="col-md-6">
            <div class="form-group zb-form-group">
                <label for="input_SearchText" class="col-sm-5 zb-form-label">${get_res('search_text','Search Text')}</label>
                <div class="col-sm-7">
                    <input-text ng-model="entity.searchText" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group zb-form-group">
                <label for="input_SearchCriteria" class="col-sm-5 zb-form-label">${get_res('search_criteria','Search Criteria')}</label>
                <div class="col-sm-7">
                    <input-select ng-model="entity.search_criteria" data-list="cbbSearchCriteria" data-value="value" data-caption="caption" />
                </div>
            </div>
        </div>
    </collapse-box>
    <collapse-box class="zb-form-common" title="${get_res('search_by_people','Search by People')}">
        <div class="col-md-6">
            <div class="form-group zb-form-group">
                <label for="input_CreatedBy" class="col-sm-5 zb-form-label">${get_res('created_by','Created by')}</label>
                <div class="col-sm-7">
                    <!--<input-select ng-model="entity.created_by" data-list="$root.cbbTypeFolder" data-value="value" data-caption="caption" />-->
                    <combobox load-data="$root.$getComboboxData" 
                              ng-model="entity.created_by" 
                              params="{key:'${encryptor.get_key('cbb_lmsls_list_author_material_management')}'}" 
                              on-search-change="false" on-search-press="true" placeholder="" 
                              init-data="$$$cbb_lmsls_author.value" 
                              paging="true" close-on-select="true" 
                              template-fields="$$$cbb_lmsls_author.display_fields" 
                              reload="false">
                            </combobox>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group zb-form-group">
                <label for="input_ContributedBy" class="col-sm-5 zb-form-label">${get_res('contributed_by','Contributed by')}</label>
                <div class="col-sm-7">
                    <!--<input-select ng-model="entity.contributed_by" data-list="$root.cbbTypeFolder" data-value="value" data-caption="caption" />-->
                    <combobox load-data="$root.$getComboboxData" 
                              ng-model="entity.contributed_by" 
                              params="{key:'${encryptor.get_key('lms_cbb_employees_cbcc')}'}" 
                              on-search-change="false" on-search-press="true" placeholder="" 
                              init-data="$$$cbb_lmsls_employees.value" 
                              paging="true" close-on-select="true" 
                              template-fields="$$$cbb_lmsls_employees.display_fields" 
                              reload="false">
                            </combobox>
                </div>
            </div>
            <!--<div class="form-group zb-form-group">
                <label for="input_DateCreated" class="col-sm-5 zb-form-label">${get_res('date_created','Date Created')}</label>
                <div class="col-sm-7">
                    <date-picker ng-model="entity.date_created" data-format="{{$root.systemConfig.date_format}}" required/>
                </div>
            </div>
            <div class="form-group zb-form-group">
                <label for="input_DateContributed" class="col-sm-5 zb-form-label">${get_res('date_contributed','Date Contributed')}</label>
                <div class="col-sm-7">
                    <date-picker ng-model="entity.date_contributed" data-format="{{$root.systemConfig.date_format}}" required/>
                </div>
            </div>-->
        </div>
    </collapse-box>
    <div class="row">
        <div class="col-md-6">
            <collapse-box class="zb-form-common" title="${get_res('file_property','File Property')}">
                <div class="" style="padding-left: 15px;">
                    <div class="form-group zb-form-group">
                        <label for="input_Category" class="col-sm-5 zb-form-label">${get_res('category','Category')}</label>
                        <div class="col-sm-7">
                            <combobox load-data="$root.$getComboboxData" ng-model="entity.category_id" params="{key:'${encryptor.get_key('cbb_lmsls_materialfolder')}', value:[{ '@lock': true }]}" on-search-change="false" on-search-press="true" placeholder="" init-data="$$$cbb_lmsls_materialfolder.value" paging="true" close-on-select="true" template-fields="$$$cbb_lmsls_materialfolder.display_fields" reload="false">
                            </combobox>
                        </div>
                    </div>
                    <div class="form-group zb-form-group">
                        <label for="input_FileFormat" class="col-sm-5 zb-form-label">${get_res('file_format','File Format')}</label>
                        <div class="col-sm-7">
                            <input-select ng-model="entity.file_format" data-list="cbbLMSFileFormat" data-value="value" data-caption="caption" />
                        </div>
                    </div>
                    <div class="form-group zb-form-group">
                        <label for="input_SizeFrom" class="col-sm-5 zb-form-label">${get_res('size_from','Size From')}</label>
                        <div class="col-sm-3">
                            <input-number ng-model="entity.num_size_from" />
                        </div>
                        <div class="col-sm-4">
                            <input-select ng-model="entity.type_size_from" data-list="cbbMemorySize" data-value="value" data-caption="caption" />
                        </div>
                    </div>
                    <div class="form-group zb-form-group">
                        <label for="input_SizeFrom" class="col-sm-5 zb-form-label">${get_res('size_to','Size To')}</label>
                        <div class="col-sm-3">
                            <input-number ng-model="entity.num_size_to" />
                        </div>
                        <div class="col-sm-4">
                            <input-select ng-model="entity.type_size_to" data-list="cbbMemorySize" data-value="value" data-caption="caption" />
                        </div>
                    </div>
                </div>
            </collapse-box>
        </div>
        <div class="col-md-6">
            <collapse-box class="zb-form-common" title="${get_res('course_property','Course Property')}">
                <div class="" style="padding-right: 15px;">
                    <div class="form-group zb-form-group">
                        <label for="input_CourseName" class="col-sm-5 zb-form-label">${get_res('course_name','Course Name')}</label>
                        <div class="col-sm-7">
                            <input-text ng-model="course_name" />
                        </div>
                    </div>
                    <div class="form-group zb-form-group">
                        <label for="input_StartDate" class="col-sm-5 zb-form-label">${get_res('start_date','Start Date')}</label>
                        <div class="col-sm-7">
                            <date-picker ng-model="entity.start_date" data-format="{{$root.systemConfig.date_format}}" required/>
                        </div>
                    </div>
                    <div class="form-group zb-form-group">
                        <label for="input_EndDate" class="col-sm-5 zb-form-label">${get_res('end_date','End Date')}</label>
                        <div class="col-sm-7">
                            <date-picker ng-model="entity.end_date" data-format="{{$root.systemConfig.date_format}}" required/>
                        </div>
                    </div>
                    <div class="form-group zb-form-group">
                        <label for="input_Instructor" class="col-sm-5 zb-form-label">${get_res('instructor','Instructor')}</label>
                        <div class="col-sm-7">
                            <input-select ng-model="entity.instructor" data-list="cbbLMSLCoverage" data-value="value" data-caption="caption" />
                        </div>
                    </div>
                </div>
            </collapse-box>
        </div>
    </div>
    <collapse-box class="zb-form-common" title="${get_res('filters','Filters')}">
        <div class="col-md-6">
            <div class="form-group zb-form-group">
                <label for="input_StarRatingFrom" class="col-sm-5 zb-form-label">${get_res('star_rating_from','Star Rating from')}</label>
                <div class="col-sm-7">
                    <input-select ng-model="entity.star_rating_from" data-list="cbbStarRating" data-value="value" data-caption="caption" />
                </div>
            </div>
            <div class="form-group zb-form-group">
                <label for="input_DateContributedFrom" class="col-sm-5 zb-form-label">${get_res('date_contributed_from','Date Contributed from')}</label>
                <div class="col-sm-7">
                    <date-picker ng-model="entity.date_contributed_from" data-format="{{$root.systemConfig.date_format}}" required/>
                </div>
            </div>
            <div class="form-group zb-form-group">
                <label for="input_DateCreatedFrom" class="col-sm-5 zb-form-label">${get_res('date_created_from','Date Created from')}</label>
                <div class="col-sm-7">
                    <date-picker ng-model="entity.date_created_from" data-format="{{$root.systemConfig.date_format}}" required/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group zb-form-group">
                <label for="input_StarRatingTo" class="col-sm-5 zb-form-label">${get_res('star_rating_to','Star Rating to')}</label>
                <div class="col-sm-7">
                    <input-select ng-model="entity.star_rating_to" data-list="cbbStarRating" data-value="value" data-caption="caption" />
                </div>
            </div>
            <div class="form-group zb-form-group">
                <label for="input_DateContributedTo" class="col-sm-5 zb-form-label">${get_res('date_contributed_to','Date Contributed to')}</label>
                <div class="col-sm-7">
                    <date-picker ng-model="entity.date_contributed_to" data-format="{{$root.systemConfig.date_format}}" required/>
                </div>
            </div>
            <div class="form-group zb-form-group">
                <label for="input_DateCreatedTo" class="col-sm-5 zb-form-label">${get_res('date_created_to','Date Created to')}</label>
                <div class="col-sm-7">
                    <date-picker ng-model="entity.date_created_to" data-format="{{$root.systemConfig.date_format}}" required/>
                </div>
            </div>
        </div>
    </collapse-box>
</div>
</%block>

<%block name="modal_script">
<script>
	(function(scope) {
        scope.onResizeDialog = onResizeDialog;
        var entity = {};
        scope.title = "Advanced Search"

        scope.entity = {
            category_id: null,
            searchText: null,
            created_by: null,
            contributed_by: null,
            file_format: null,
            num_size_from: null,
            type_size_from: null,
            num_size_to: null,
            type_size_to: null,
            star_rating_from: 1,
            date_contributed_from: null,
            search_criteria: null,
            date_contributed: null,
            course_name: null,
            start_date: null,
            end_date: null,
            instructor: null,
            star_rating_to: 1,
            date_contributed_to: null,
            date_created_to: null,
            date_created_from: null
        }
        scope.cbbMemorySize = [{
                caption: "BIT",
                value: "BIT"
            },
            {
                caption: "BYTE",
                value: "BYTE"
            },
            {
                caption: "KB",
                value: "KB"
            },
            {
                caption: "MB",
                value: "MB"
            },
            {
                caption: "GB",
                value: "GB"
            },
            {
                caption: "TB",
                value: "TB"
            }
        ]
        scope.cbbStarRating = [{
                caption: "1",
                value: 1
            },
            {
                caption: "2",
                value: 2
            },
            {
                caption: "3",
                value: 3
            },
            {
                caption: "4",
                value: 4
            },
            {
                caption: "5",
                value: 5
            }
        ]

        function onResizeDialog() {
            $dialog.fullScreen();
            scope.col = scope.col == 12 ? 6 : 12;
            scope.col_group = scope.col_group == 6 ? 8 : 6;
        }

        loadValueList();

        function loadValueList() {
            services.api("${get_api_key('app_main.api.SYS_ValueList/get_list')}")
                .data({
                    "name": [
                        "LSearchCriterial",
                        "LMSFileFormat"
                    ]
                })
                .done()
                .then(function(res) {
                    scope.cbbSearchCriteria = getValue(res.values, "LSearchCriterial");
                    scope.cbbLMSFileFormat = getValue(res.values, "LMSFileFormat");
                    scope.$applyAsync();

                    function getValue(response, listName) {
                        return _.findWhere(response, {
                            "list_name": listName
                        }) ? _.findWhere(response, {
                            "list_name": listName
                        }).values : [];
                    }
                })
        }

        function _getDataInitCombobox() {
            scope.$root.$getInitComboboxData(scope, [{
                "key": "${encryptor.get_key('cbb_lmsls_materialfolder')}",
                "code": scope.entity.category_id,
                "alias": "$$$cbb_lmsls_materialfolder"
            }, {
                "key": "${encryptor.get_key('cbb_lmsls_list_author_material_management')}",
                "code": scope.entity.created_by,
                "alias": "$$$cbb_lmsls_author"
            }, {
                "key": "${encryptor.get_key('lms_cbb_employees_cbcc')}",
                "code": scope.entity.contributed_by,
                "alias": "$$$cbb_lmsls_employees"
            }]);
        }
        _getDataInitCombobox();

        function _loadDataServerSide(fnReloadData, iPage, iPageLength, orderBy, searchText, objAdvanceSearch) {
            scope.$$tableConfig = {
                fnReloadData: fnReloadData,
                iPage: iPage,
                iPageLength: iPageLength,
                orderBy: orderBy,
                searchText: searchText,
                objAdvanceSearch: objAdvanceSearch

            };
            scope.$root.$$tableConfig = {
                fnReloadData: fnReloadData,
                iPage: iPage,
                iPageLength: iPageLength,
                orderBy: orderBy,
                searchText: searchText,
                objAdvanceSearch: objAdvanceSearch
            };
            ////setTimeout(function () {
            //if (fnReloadData) {
            //    if (searchText) {
            //        _tableData(iPage, iPageLength, orderBy, searchText, function (data) {
            //            fnReloadData(data);
            //        },objAdvanceSearch);
            //    } else {
            //        _tableData(iPage, iPageLength, orderBy, null, function (data) {
            //            fnReloadData(data);
            //        },objAdvanceSearch);
            //    }
            //}
            ////}, 1000);
        };

        scope.Search_Click = Search_Click;

        function Search_Click() {
            if (scope.entity.num_size_from && scope.entity.type_size_from && scope.entity.num_size_to && scope.entity.type_size_to) {
                scope.entity.size_from = convert_size(scope.entity.num_size_from, scope.entity.type_size_from);
                scope.entity.size_to = convert_size(scope.entity.num_size_to, scope.entity.type_size_to);
            }
            var data = scope.$parent.$$tableConfig;
            scope.$parent._tableData(data.iPage, data.iPageLength, data.orderBy, scope.entity.searchText, data.fnReloadData, scope.entity);
            scope.$parent.$applyAsync();
        }

        function convert_size(size, type) {
            // Quy đổi qua BYTE
            var _size = 0;
            switch (type) {
                case 'bit':
                case 'BIT':
                    _size = size / 8;
                    break;
                case 'byte':
                case 'BYTE':
                    _size = size;
                    break;
                case 'kb':
                case 'KB':
                    _size = size * 1024;
                    break;
                case 'mb':
                case 'MB':
                    _size = size * 1024 * 1024;
                    break;
                case 'gb':
                case 'GB':
                    _size = size * 1024 * 1024 * 1024; 
                    break;
                case 'tb':
                case 'TB':
                    _size = size * 1024 * 1024 * 1024 * 1024; 
                    break;
                default:
                    _size = size;
            }
            return _size;
        }
    });
</script>
</%block>