<div class="row" style="padding: 15px;">
   <div class="information-header">
        <p class="detail-title">
            ${get_res('relations','Relations')}
            <span style="float: right">
                <span class="bowtie-icon bowtie-math-plus-circle-outline" ng-click="addRelations()" 
                      style="cursor: pointer;"  >
                </span>   
                <span class="bowtie-icon bowtie-math-multiply-box-outline" ng-click="delRelations()" 
                      style="cursor: pointer; padding-left: 5px;" >
                </span>
            </span>
        </p>
        <div class="col-sm-12 " ng-repeat="elem in list_relation track by $index">   
            <div class="col-md-6 row" style=" padding: 0">             
                <input-select ng-model="elem.ref_relation" data-list="cbbLMSLRelation" data-value="value" data-caption="caption" />
            </div>
            <div class="col-md-6 pull-right row" style=" padding: 0"> 
                <input-text id="inputEmp_Train_Mode_Name" ng-value="elem.intro_relation" disabled="disabled">
            </div>
            <br/>
        </div>
   </div>
    <div class="information-body" style="padding-top:60px;">
            <div>
                 <p class="detail-title">
                    Related Courses:
                </p>
            </div>
            <div style="border:1px solid grey;border-left:3px solid red;margin-bottom:5px" ng-repeat="item in list_courses track by $index">
                    
                <div class=" related-courses" style="font-size:11px;color:darkblue">
                    <div class="form-group zb-form-group">
                            <div class="col-md-6 col-lg-6 col-sm-6 content-courses "> 
                            <p>{{item.course_name}}</p>
                        </div>        
                        <div class="col-md-6 col-lg-6 col-sm-6 content-courses "> 
                            <span style="color:red !important;cursor:pointer;float:right;margin-right:10px;" 
                               ng-click="delCourses($index)">
                                <i class="bowtie-icon bowtie-math-multiply-light"></i>
                            </span>
                        </div>
                        </div>
                    <div class="form-group zb-form-group">
                            <div class="col-md-6 col-lg-6 col-sm-6 content-courses"> 
                            <p>Author: <a style="font-weight:bold">{{item.author}}</a></p>
                        </div>        
                        <div class="col-md-6 col-lg-6 col-sm-6 content-courses"> 
                            <p style="float:right;margin-right:10px;">Status: <a style="font-weight:bold">{{item.status}}</a></p>
                        </div>
                        </div>
                    <div class="form-group zb-form-group">
                            <div class="col-md-6 col-lg-6 col-sm-6 content-courses "> 
                            <p>Start Date <a style="font-weight:bold">{{item.startdate}}</a></p>
                        </div>        
                        <div class="col-md-6 col-lg-6 col-sm-6 content-courses"> 
                            <p style="float:right;margin-right:10px;">End Date <a style="font-weight:bold;">{{item.enddate}}</a></p>
                        </div>
                        </div>    
                </div>
                     
            </div>
               
                <div>
                    <span ng-click="addCourses()" 
                       style="cursor:pointer;text-underline-position:below;font-size:11px" >
                        <i class="bowtie-icon bowtie-math-plus"></i> Add new related course
                    </span>
            </div>
    </div>
</div>

<style>
   .relation-rows {
    color: #23527c;
    
    }
    .relation-rows:hover {
    color: black;
    }
    .content-courses {
    font-weight: normal;
    height: 27px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.675rem !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    line-height: 13px !important;
    text-align: left !important;
    padding: 0px 0px 0px 5px;
    overflow: hidden;  
    }
    .detail-title {
        color:rgb(88, 172, 250);
        font-weight: 500;
    }
  

</style>
<script>
    (function (scope) {
        
        scope.list_temp_relation = [{ ref_relation: "1", intro_relation: "abc" }, { ref_relation: "2", intro_relation: "abc" }, { ref_relation: "3", intro_relation: "abc" }, { ref_relation: "4", intro_relation: "abc" }]

		scope.list_temp_courses = [{ course_name: scope._currentItem.course_name, author: scope._currentItem.author_name, status: "hong hanh", startdate: scope._currentItem.valid_from, enddate: scope._currentItem.date_valid_to }];
        scope.list_courses = scope.list_temp_courses;
        scope.list_relation = [{}]
        scope._currentItem = scope.$parent.currentItem;
        loadValueList();
        function loadValueList() {
            services.api("${get_api_key('app_main.api.SYS_ValueList/get_list')}")
            .data({
                "name": [
                    "LMSLRelation",
                ]
            })
            .done()
                .then(function (res) {
                debugger
                scope.cbbLMSLRelation = getValue(res.values, "LMSLRelation");
                scope.$applyAsync();
                function getValue(response, listName) {
                    return _.findWhere(response, { "list_name": listName }) ? _.findWhere(response, { "list_name": listName }).values : [];
                }
            })
        }
        (function getData() {
            services.api("${get_api_key('app_main.api.LMSLS_MaterialManagement/get_data_info_details')}")
                .data({
                    "where": {
                        'id': scope._currentItem['_id']
                    }
                })
                .done()
                .then(function (res) {
                    
                })
        })();
        
        scope.addRelations = function () {
            if (scope.list_relation.length < scope.list_temp_relation.length) {
                scope.list_relation.push({});
            }
        }
        scope.delRelations = function () {
            if (scope.list_relation.length > 1) {
                scope.list_relation.splice({}, 1);
            }
        }
         scope.addCourses = function () {
            if (scope.list_courses.length < scope.list_temp_relation.length) {
                scope.list_courses.push({course_name:scope._currentItem.course_name, author:scope._currentItem.author_name, status:"hong hanh",startdate:scope._currentItem.date_valid_from.substring(0, 10),enddate:scope._currentItem.date_valid_to.substring(0, 10)});
            }
        }
        scope.delCourses = function (index) {
                scope.list_courses.splice(index, 1);
        }
        
        
    });
</script>