
<%!
    #_style="width:200px;"
%>
<%inherit file="../commons/dialog_save_close.html"/>
ss

<%block name="modal_body">
        <div class="col-md-{{col_group}} col-sm-{{col_group}}">
        <collapse-box class="zb-form-common" title="${get_res('public_link','Public Link')}" style="width: 95%;margin-left: 20px;">
            <div class="content-view-sharing" style="margin-left:30px">
                <div style="padding-bottom: 180px;margin-top: 30px;">
                    <div class="col-md-3 col-lg-3 col-sm-3 col-3" >
                        <img ng-src="{{$root.url_static}}{{_currentItem.files.file_thumbnail}}" alt="Smiley face" style="width:91%;height:128px;float:right">
                      </div>
                    <div class="col-md-9 col-lg-9 col-sm-9 col-9" >
                            <div class="col-md-12" style="padding-bottom: 10px;"><span>{{_currentItem.files.file_name}}</span></div>
                            <div class="col-md-8 col-lg-8 col-sm-8 col-8">
                                <input id="link-file" type="text" ng-model="link_sharing" name="link-file" class="form-control"  style="margin-bottom: 10px;">
                                <div >
                                    <i class="fa fa-linkedin-square" ng-click="sharingSocial('linkedin')" style="font-size:35px;color:#0077B5;cursor:pointer"></i>
                                    <i class="fa fa-facebook-square" ng-click="sharingSocial('facebook')" style="font-size:35px;color:#4267b2;cursor:pointer"></i>
                                    <i class="fa fa-dropbox" ng-click="sharingSocial('dropbox')" style="font-size:35px;color:cornflowerblue;cursor:pointer"></i>
                                    <i class="fa fa-youtube-play" ng-click="sharingSocial('youtube')" style="font-size:35px;color:red;cursor:pointer"></i>
                                    <i class="fa fa-google-plus" ng-click="sharingSocial('google')" style="font-size:35px;color:#dd4b39;cursor:pointer"></i>
                                    <i class="fa fa-twitter-square" ng-click="sharingSocial('twitter')" style="font-size:35px;color:#1DA1F2;cursor:pointer"></i>
                                  </div>    
                            </div>   
                            <div class="col-md-4 col-lg-4 col-sm-4 col-4" >
                                <button class="form-control btn btn-primary" ngclipboard data-clipboard-target="#link-file" type="submit" style="width:70%;" >Copy link</button>
                            </div>
                      </div>

                </div>
        </div>
        <div class="col-md-{{col_group}} col-sm-{{col_group}}">
                <collapse-box class="zb-form-common" title="${get_res('file_sharing','File Sharing')}" >
                    <div class="col-md-3 col-lg-3 col-sm-3" >
                        </div>
                    <div class="col-md-6 col-lg-6 col-sm-6" >
                     <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <div class="col-sm-12"> 
                              <input-select ng-model="sharing.members_group" data-list="cbbLMSLCourse" data-value="caption" data-caption="caption" placeholder="Member or Group" />
                            </div>
                        </div>
                    </div>
                   <div class="col-md-{{col}}" ng-repeat="item in sharing.invited_email track by $index">
                        <div class="form-group zb-form-group" style="padding-top: 20px;">
                            <div class="col-sm-12"> 
                                <input-text-icon icon="bowtie-icon bowtie-edit-delete" id="inputEmp_Train_Mode_Name" ng-model="item.address" placeholder="Invite (Email Address)" on-click="delEmailAddress($index)"></input-text-icon>
                                
                            </div>
                            
                        </div>
                    </div>
                       <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                             <div class="col-sm-12" style="margin-top:20px"> 
                             <a class="relation-content-row" ng-click="addEmailAddress()" style="font-size:11px;cursor: pointer;float:left"> Post a comment</a>  
                            </div>
                            
                        </div>
                    </div>
                        
                     <div class="col-md-{{col}}">
                        <div class="form-group zb-form-group">
                            <div class="col-sm-12" style="margin-top:30px"> 
                                <input-textarea rows="4" ng-model="sharing.message" placeholder="Message"></input-textarea>
                            </div>
                           
                        </div>
                    </div>
                        
                        </div>
                    <div class="col-md-3 col-lg-3 col-sm-3" >
                        </div>


                </div>
                    
            </div>
        
        
</%block>

<%block name="modal_script">
<style>
  





</style>
<script>
    // var app = angular.module("mainApp", ['ngclipboard']);
    (function (scope) {
        scope.sharing = {}
        scope.sharing.invited_email = [{}];
        scope._currentItem = scope.$parent.currentItem;
        scope.link_sharing = '${get_app_url("")}' +  '/download?id=' + scope._currentItem.material_id;
        
        loadValueList();
        function loadValueList() {
            services.api("${get_api_key('app_main.api.SYS_ValueList/get_list')}")
            .data({
                "name": [
                    "LMSLSharing",
                ]
            })
            .done()
            .then(function (res) {
                scope.cbbLMSLCourse = getValue(res.values, "LMSLSharing");

                scope.$applyAsync();
                function getValue(response, listName) {
                    return _.findWhere(response, { "list_name": listName }) ? _.findWhere(response, { "list_name": listName }).values : [];
                }
            })
        }
         
         scope.addEmailAddress = function () {   
                scope.sharing.invited_email.push({});
         }
        scope.delEmailAddress = function (index) {
                
            if (scope.sharing.invited_email.length > 1) {
                scope.sharing.invited_email.splice(index, 1);
                scope.$applyAsync();
            }
        }
        scope.sharingSocial = function (social) {
            var icon = '';
            switch (social) {
                case 'linkedin':
                     icon = 'fa-linkedin-square';
                    window.open('https://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=' + scope.link_sharing);
                    
                break;
                case 'facebook':
                     icon = 'fa-facebook-square';
                    window.open('http://www.facebook.com/sharer.php?u=' + scope.link_sharing);
                    
                    break;
                case 'dropbox':
                     icon = 'fa-dropbox';
                    window.open('https://www.dropbox.com/s/' + scope.link_sharing);
                    
                    break;
                case 'youtube':
                     icon = 'fa-youtube-play';
                    window.open('https://www.youtube.com/watch?v=' + scope.link_sharing);
                    
                    break;
                case 'google':
                     icon = 'fa-google-plus';
                    window.open('https://plus.google.com/share?url=' + scope.link_sharing);
                    
                    break;
                case 'twitter':
                     icon = 'fa-twitter-square';
                    window.open('https://twitter.com/home?status=' + scope.link_sharing);
                    
                break;
            default:

            }
            if (social != null) {
                services.api("${get_api_key('app_main.api.LMSLS_MaterialManagement/update_info_public_sharing_social')}")
                .data({
                    "where": {
                        'id': scope._currentItem['_id'],
                        'sharing_social': icon,
                    }
                })
                .done()
                .then(function (res) {
                    
                })
            } else {
                $msg.message("${get_global_res('Input_Error','Mời chọn')}", rsCheck.errorMsg, function () { });
            }
        }
         //Nút lưu và thêm

        //Nút lưu
        scope.saveNClose = saveNClose;
            
       function saveNClose() {           
            if (scope.sharing != null) {
                services.api("${get_api_key('app_main.api.LMSLS_MaterialManagement/update_info_sharing_file')}")
                .data({
                    "where": {
                        'id': scope._currentItem['_id'],
                        'sharing_info': scope.sharing 
                    }
                })
                .done()
                .then(function (res) {
                    
                })
            } else {
                $msg.message("${get_global_res('Input_Error','Mời nhập comment')}", rsCheck.errorMsg, function () { });
            }
        }

  




    });
</script>

</%block>