<div class="hcs-container" style="height: 100%">
        <site-map>
            <a><span>{{$root.currentFunction.default_name}}</span></a>
            <span><i class="bowtie-icon bowtie-chevron-right"></i></span>
            <span>{{currentFunction.default_name}}</span></site-map>
        <extend-toolbar ng-if="$root.extendToolbar" style="float: right;padding-top: 8px;">
            <div style="display:-webkit-inline-box; grid-template-columns: {{$root.isDisplay ? 'auto 1fr 1fr' : '1fr 1fr'}} ">
                <div class="col-md-6" style="padding-right: 0; top: 2px;">
                    <!--<input-text-icon id="tableSearchText" on-click="objSearch.onSearch" ng-model="objSearch.$$$modelSearch"></input-text-icon>-->
                     <div class="hcs-left-side-department-tree-tool-bar-div-search">
                        <input class="hcs-left-side-department-tree-tool-bar-input-search" ng-model="objSearch.$$$modelSearch">
                        <div class="hcs-left-side-department-tree-tool-bar-input-search-bot"></div>
                        <div class="hcs-left-side-department-tree-tool-bar-input-search-bot-icon" ng-click="onSearchText()">
                            <i class="glyphicon glyphicon-search"></i>
                        </div>
                    </div>
                </div>
                <div style="margin-left: 12px;">
                   
                    <button class="zb-btn zb-btn-o-green" ng-click="createQuestionCategory()">
                            <i class="bowtie-icon bowtie-math-plus"></i>
                    </button>
                    <button class="zb-btn zb-btn-o-blue" ng-click="editQuestionCategory()">
                            <i class="bowtie-icon bowtie-edit-outline"></i>
                        </button>
                    <button class="zb-btn zb-btn-o-red" ng-click="delQuestionCategory()">
                            <i class="bowtie-icon bowtie-edit-remove"></i>
                    </button>
                    <button class="zb-btn" ng-click="importLearningMaterial()">
                            <i class="bowtie-icon bowtie-transfer-upload"></i>
                        </button>
                    <button class="zb-btn" ng-click="exportLearningMaterial()">
                            <i class="bowtie-icon bowtie-transfer-download"></i>
                        </button>
                    <button class="zb-btn" ng-click="$root.refresh()">
                            <i class="bowtie-icon bowtie-navigate-refresh"></i>
                        </button>

                </div>
            </div>
        </extend-toolbar>
        <content>
            <div class="hcs-container" style="height: 100%">
                <div class="row hcs-profile-list">
                 <div style="height: 100%">
                <div class="hcs-right-side-department-list" style="height: 100%">
                  
                    <table-data data-source="tableSource" 
                                fields="tableFields"
                                type="MultiSelect" 
                                paging="true" 
                                page-length="100" 
                                server-side="true" 
                                press-enter="onSelectTableRow" 
                                selected-items="selectedItems" 
                                current-item="currentItem" 
                                search-text="tableSearchText" 
                                refresh-row="refreshDataRow">
                    </table-data>
                     
                </div>
            </div>
        </div>
    </div>
        </content>
    </page-sidebar>
</div>
<script>
    <%include file="../../scripts/partialscript/examination_management_question_category.js"/>
</script>

