


<div class="hcs-container" style="height: 100%">
    <style>

        .lms-dashboard {
        padding: 30px;
    }

    .lms-dashboard-header-box:hover {
        /*box-shadow: 0px 3px 3px rgb(0, 0, 0);
        transform: scale(1);
        transition: transform 1s;
        color: #000 !important;*/
    }

    .lms-dashboard-header-box-hover {
        /*box-shadow: 0px 3px 3px rgb(0, 0, 0);
        transform: scale(1);
        transition: transform 1s;
        color: #000 !important;*/
    }
        
    .lms-dashboard-header-span-cl {
        color: #000 !important;
        transition: color 2s ;
        -webkit-transition: color 2s;
    }
    .lms-dashboard-header-box {
        height: 100%;
        cursor: pointer;
    }

    .lms-dashboard-header-box-tx {
        display: flex;
        height: 80%;
    }

    .lms-dashboard-header-box-mo {
         text-align: center;
        height: 20%;
        color: #fff;
    }

    .lms-dashboard-categories {
        border: 1px solid #548235;
        background: #A9D08E;
    }

    .lms-dashboard-categories-bot {
        background: #70AD47;
        border-bottom: 1px solid #548235;
        border-left: 1px solid #548235;
        border-right: 1px solid #548235;
    }

    .lms-dashboard-peding {
        border: 1px solid #C65911;
        background: #F4B084;
    }

    .lms-dashboard-peding-bot {
        background: #ED7D31;
        border-bottom: 1px solid #C65911;
        border-left: 1px solid #C65911;
        border-right: 1px solid #C65911;
    }

    .lms-dashboard-download {
        border: 1px solid #BF8F00;
        background: #FFD966;
    }

    .lms-dashboard-download-bot {
        background: #fff;
        color: #fff;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        cursor: pointer;
    }
    
    .lms-dashboard-header-box-mo span {
        font-size: 0.875rem;
    }
    .lms-dashboard-header-box-mo i {
        padding-right: 10px;
        font-size: 1.3rem;
    }
    .lms-dashboard-header-box-tx-info {
        width: 80%;
        padding: 5px;
    }
    .lms-dashboard-header-box-tx-icon {
        width: 30%;
        padding: 15px 10px 15px 0;
    }

    .lms-dashboard-header-box-tx-icon img{
        
    }
    .lms-dashboard-count {
        font-size: 27px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 0;
    }
    .lms-dashboard-info {
        font-size: 14px;
        font-weight: 600;
        color: #fff;
    }
    .lms-dashboard-chart {
        padding-top: 10px;
    }
       .hcs-list-item {
            text-align: center;
            display: table;
            width: 100%;
            height: 100%;
        }

        .hcs-list-item span {
            vertical-align: middle;
            display: table-cell;
        }

         .hcs-padding {
            padding: 10px 5px;
        }

        .hcs-list-functions {
            height: 170px;
            margin-bottom: 10px;
        }
    </style>
    <div class="col-md-2 hcs-padding" style="height: 100%; overflow-y: scroll;">
        <div class="lms-dashboard-header-box hcs-box-custom hcs-list-functions" ng-repeat="item in $dataPL" style="border: 1px solid {{item.color.border}}"
                 ng-click="getDetails(null, item.code)">
            <div class="lms-dashboard-header-box-tx" style="background: {{item.color['background-top']}} !important">
                <div class="lms-dashboard-header-box-tx-info">
                    <p class="lms-dashboard-count">{{item.data_details.length}}</p>
                    <p class="lms-dashboard-info">{{item.default_name}}</p>
                </div>
                <div class="lms-dashboard-header-box-tx-icon">
                    <img ng-src="{{item.image}}">
                </div>
            </div>
            <div class="lms-dashboard-header-box-mo" 
                    style="background: {{item.color['background-bot']}}; border-top: 1px solid {{item.color.border}}">
                <div class="hcs-list-item">
                    <span style="text-align: right;">
                        <i class="bowtie-icon bowtie-navigate-forward-circle"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10" style="height: 100%; padding-top: 10px; overflow-y: scroll;">
        <div class="dataTables_scroll" style="height: 640px">
         <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;">
            <div class="dataTables_scrollHeadInner" style="box-sizing: content-box; width: 100%; padding-right: 7px;">
               <table class="display zb-data-table responsive nowrap ng-isolate-scope dataTable no-footer">
                  <thead>
                     <tr>
                        <th style="width: 15%; ">Số ký hiệu</th>
                        <th style="width: 10%; padding-left: 8px !important;">Ngày</th>
                        <th style="width: 55%; ">Tên văn bản</th>
                        <th style="width: 10%; ">Chuyên mục</th>
                        <th style="width: 10%; ">Phân loại</th>
                     </tr>
                  </thead>
               </table>
            </div>
         </div>
         <div class="dataTables_scrollBody" style="position: relative; overflow: auto; width: 100%; height: 610px">
            <div style="position: absolute; height: 1px; width: 0px; overflow: hidden;"><input type="text" tabindex="0"></div>
            <table class="display zb-data-table responsive nowrap ng-isolate-scope dataTable no-footer" cellspacing="0" data-source="tableSource" fields="tableFields" type="MultiSelect" paging="true" page-length="100" server-side="true" press-enter="onSelectTableRow" selected-items="selectedItems" current-item="currentItem" search-text="tableSearchText" refresh-row="refreshDataRow" width="100%" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%; position: relative;">
               <thead>
                  <tr>
                     <th style="width: 15%">Số ký hiệu</th>
                     <th style="width: 10%">Ngày</th>
                     <th style="width: 55%">Tên văn bản</th>
                     <th style="width: 10%">Chuyên mục</th>
                     <th style="width: 10%">Phân loại</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="$data in $data.$dataChiTieu track by $index" class="{{$index%2 == 0 ? 'odd' : 'even'}}">
                     <td>{{$data.ky_hieu}}</td>
                     <td>{{$data.ngay | date: 'dd/MM/yyyy'}}</td>
                     <td>{{$data.ten_van_ban}}</td>
                     <td>{{$data.cm_name}}</td>
                     <td>{{$data.pl_name}}</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>



        <div class="col-md-3 hcs-list-functions hcs-padding" ng-repeat="function in $dataCM" 
             ng-click="getDetails(function.code, null)" style="height: 20%; padding-bottom: 0;">
            <div class="lms-dashboard-header-box hcs-box-custom">
                <div class="lms-dashboard-header-box-tx lms-dashboard-download">
                    <div class="lms-dashboard-header-box-tx-info">
                        <span class="lms-dashboard-info" style="color: #000000; text-transform: uppercase;">
                            {{function.data_details.length}}
                        </span><br />
                        <span class="lms-dashboard-info" style="color: #000000; text-transform: uppercase;">
                           {{function.default_name}}
                        </span>
                    </div>
                    <div class="lms-dashboard-header-box-tx-icon">
                        <img ng-src="{{function.image}}">
                    </div>
                </div>
                <div class="lms-dashboard-header-box-mo lms-dashboard-download-bot">
                    <div class="hcs-list-item">
                        <span style="color: #000000; text-align: right">
                            <i class="bowtie-icon bowtie-navigate-forward-circle"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    <%include file="../scripts/VanBanDieuHanh.js"/>
</script>
