<style>
    .hcs-navigation-panel-button {
        list-style-type:none;
        display:inline-flex;
    }

    .hcs-navigation-panel-button li {
        float:left;
    }

    .zb-content {
        background-color:transparent !important;
    }
</style>
<div class="hcs-container">
    <div class="row hcs-profile-detail" style="margin:unset; height:100%;" ng-show="showDetail">
            <page-sidebar on-add="onAdd" 
                  on-edit="onEdit" 
                  on-delete="onDelete" 
                  on-save="onSave" 
                  on-print="onPrint"
                  on-attach="onAttach"
                  on-import="onImport" 
                  on-export="onExport" 
                  on-refresh="onRefresh" 
                  source="mapName" 
                  key-field="function_id" 
                  display-field="default_name" 
                  icon-field="icon" 
                  selected-key="selectedFunction"
                  reload-on-change="true">
        <site-map>
                <a ng-click="backPage()">{{$root.currentFunction.default_name}}</a>
                <span><i class="bowtie-icon bowtie-chevron-right"></i></span>
                <a> {{entity.apr_period}} / {{entity.apr_year}} </a><span><i class="bowtie-icon bowtie-chevron-right"></i></span><a> {{currentFunction.default_name}} </a>
                <a data-target="#dropdownFunction" style="color:#333" data-toggle="collapse"><i class="bowtie-icon bowtie-chevron-down"></i></a>
                <div id="dropdownFunction" class="dropdown-content">
                    <div class="filter">
                        <input-text-icon ng-model="search" style="padding:3px;">
                    </div>
                    <div class="dropdown">
                        <p ng-repeat="f in mapName | filter : search" ng-class="{focus : selectedFunction === f.function_id}" ng-click="selectFunc($event, f.function_id)">{{f.custom_name ? f.default_name : f.custom_name}}</p>
                    </div>
                </div>
        </site-map>
        <!--<advanced-search>
            <input type="text" placeholder="Name" />
            <input type="text" placeholder="Age" />
        </advanced-search>-->
        <content>
             <div c-template url="${get_app_url('')}/pages/{{$partialpage}}" 
                 style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;"></div>
        </content>
    </page-sidebar>
    </div>
    <div class="row hcs-profile-list">
        <div class="hcs-right-side-department-content" style="width:100%; height:100%">
            <div class="hcs-right-side-department-list-tool-bar" >
				 <div class="zb-left-content pull-left" style="padding-top:5px;">
					 <a><span>{{$root.currentFunction.default_name}}</span></a>
				</div>
                <div class="zb-right-content pull-right">
                    <button class="zb-btn zb-btn-o-green ng-scope" ng-click="addAprPeriod()">
                        <i class="bowtie-icon bowtie-math-plus"></i>
                    </button>
					<button class="zb-btn zb-btn-o-blue ng-scope" ng-click="editAprPeriod()">
                        <i class="bowtie-icon bowtie-edit-outline"></i>
                    </button>
					<button class="zb-btn zb-btn-o-red ng-scope" ng-click="deleteAprPeriod()">
                        <i class="bowtie-icon bowtie-edit-remove"></i>
                    </button>
                    <button class="zb-btn ng-scope" ng-click="btnUpload()">
                        <i class="bowtie-icon bowtie-transfer-upload"></i>
                    </button>
                    <button class="zb-btn ng-scope" ng-click="btnDownload()">
                        <i class="bowtie-icon bowtie-transfer-download"></i>
                    </button>
                    <button class="zb-btn ng-scope">
                        <i class="bowtie-icon bowtie-print" ng-click="btnPrint()"></i>
                    </button>
                    <button class="zb-btn ng-scope" ng-click="btnRefresh()">
                        <i class="bowtie-icon bowtie-navigate-refresh"></i>
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="hcs-right-side-department-list" style="height:93%;">
                <table-data data-source="tableSource" 
                            fields="tableFields" 
                            type="MultiSelect" 
                            paging="true" 
                            page-length="100" 
                            server-side="true" 
                            press-enter="onSelectTableRow" 
                            selected-items="selectedItems" 
                            current-item="currentItem" 
                            search-text="tableSearchText"
                            refresh-row="refreshDataRow">
                </table-data>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<script>
    <%include file = "../scripts/aprPeriod.js"/>
</script>
