<div class="hcs-container" style="height: 100%">
    <!--<page-sidebar on-add="onAdd" 
                  on-edit="onEdit" 
                  on-delete="onDelete" 
                  on-save="onSave" 
                  on-import="onImport" 
                  on-export="onExport"
                  on-search-press="onSearch"
                  source="mapName" 
                  key-field="function_id" 
                  display-field="default_name" 
                  icon-field="icon" 
                  selected-key="selectedFunction"
                  reload-on-change="true"
                  advanced-search="advancedSearch">
        <site-map>
            <a><span>{{$root.currentFunction.default_name}}</span></a>
            <span><i class="bowtie-icon bowtie-chevron-right"></i></span>
            <span>{{currentFunction.default_name}}</span>
            <a data-target="#dropdownFunction" style="color:#333" data-toggle="collapse"><i class="bowtie-icon bowtie-chevron-down"></i></a>
            <div id="dropdownFunction" class="dropdown-content">
                <div class="filter">
                    <input-text-icon ng-model="search" style="padding:3px;">
                </div>
                <div class="dropdown">
                    <p ng-repeat="f in mapName | filter : search" ng-class="{focus : selectedFunction === f.function_id}" ng-click="selectFunc($event, f.function_id)">{{f.custom_name ? f.default_name : f.custom_name}}</p>
                </div>
            </div>
        </site-map>
        <advanced-search>
            <div class="col-xs-3">
                <input-select data-list="cbbSysLock" ng-model="advancedSearch.data_lock"
                                    placeholder="" 
                                    data-value="value" 
                                    data-caption="caption"/>
            </div>
        </advanced-search>
        <content>
            <div c-template url="${get_app_url('')}/pages/{{$partialpage}}" 
                 style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;"></div>
        </content>
    </page-sidebar>
        -->
    <div c-template url="${get_app_url('')}/pages/rankcategory/personal"></div>
</div>
<script>
    <%include file="../scripts/rankcategory.js"/>
</script>
