<div class="col-md-12 no-padding">
    <collapse-box class="zb-datatable" title="${get_res('Factor_Appraisal_Group_list','Danh sách nhóm yếu tố đánh giá')}">
        <div class="col-md-12 no-padding" style="height: 220px;">
            <tree-table data-source="$$tableTree.dataTableTree" data-fields="$$tableTree.tableFields"
                    display-field="factor_group_name"
                    display-name="Tên nhóm "
                    parent-field="parent_code" key-field="factor_group_code" 
                    multi-select="$$tableTree.treeMultiSelect" select-mode="$$tableTree.treeSelectMode"
                    on-select="$$tableTree.selectTreeNode"
                    current-node="$$tableTree.treeCurrentNode"
                    selected-nodes="$$tableTree.treeSelectedNodes"
                    selected-root-nodes="$$tableTree.treeSelectedRootNodes"
                    search-text="$$tableTree.treeSearchText"
                    checked-field="is_selected"
                    disabled="$$tableTree.treeDisabled"/>
                    
        </div>
    </collapse-box>
</div>
<script>
    <%include file="scripts/factorappraisalgroup.js"/>
</script>
