<style>
   .hcs-demo-gird-tree {
       height: 250px;
       padding: 0;
   }
   .hcs-demo-gird-two {
       height:640px;
       border: 1px solid #ccc;
       margin-bottom: 10px;
       padding: 0;
   }
</style>
<div class="hcs-container" style="height: 100%; padding: 5px; overflow-y: scroll;">
   <div class="hcs-demo-gird-two col-md-12">
      <iframe width="100%" height="640px" src="" frameborder="0" allowFullScreen="true"></iframe>
   </div>
   <div class="hcs-demo-gird-tree col-md-12">
      <div class="dataTables_scroll">
         <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;">
            <div class="dataTables_scrollHeadInner" style="box-sizing: content-box; width: 100%; padding-right: 7px;">
               <table class="display zb-data-table responsive nowrap ng-isolate-scope dataTable no-footer">
                  <thead>
                     <tr>
                        <th style="width: 10%; ">Mã chỉ tiêu</th>
                        <th style="width: 55%; padding-left: 8px !important;">Chỉ tiêu</th>
                        <th style="width: 10%; ">Năm 2018</th>
                        <th style="width: 15%; ">Cùng kỳ năm trước</th>
                        <th style="width: 10%; ">Xu hướng</th>
                     </tr>
                  </thead>
               </table>
            </div>
         </div>
         <div class="dataTables_scrollBody" style="position: relative; overflow: auto; width: 100%;">
            <div style="position: absolute; height: 1px; width: 0px; overflow: hidden;"><input type="text" tabindex="0"></div>
            <table class="display zb-data-table responsive nowrap ng-isolate-scope dataTable no-footer" 
                   style="width: 100%; position: relative;">
               <thead>
                  <tr>
                     <th style="width: 10%">Mã chỉ tiêu</th>
                     <th style="width: 55%">Chỉ tiêu</th>
                     <th style="width: 10%">Năm 2018</th>
                     <th style="width: 15%">Cùng kỳ năm trước</th>
                     <th style="width: 10%">Xu hướng</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="$data in $data.$dataChiTieu track by $index" ng-click="onCompilerIframe($data, $event)" 
                      class="{{$index%2 == 0 ? 'odd' : 'even'}}">
                     <td>{{$data.code}}</td>
                     <td>{{$data.name}}</td>
                     <td style="text-align: center" ng-if="isNumber($data.data_year['2018'])">{{$data.data_year['2018'] | number}}</td>
                     <td style="text-align: center" ng-if="!isNumber($data.data_year['2018'])">{{$data.data_year['2018']}}</td>
                     <td style="text-align: center" ng-if="isNumber($data.data_year['2017'])">{{$data.data_year['2017'] | number}}</td>
                     <td style="text-align: center" ng-if="!isNumber($data.data_year['2017'])">{{$data.data_year['2017']}}</td>
                     <td style="text-align: center; font-size: 21px;">
                        <i class="bowtie-triangle-up bowtie-icon" style="color: green;" ng-if="$data.data_year['2017'] < $data.data_year['2018']"></i>
                        <i class="bowtie-triangle-down bowtie-icon" style="color: red;" ng-if="$data.data_year['2017'] >= $data.data_year['2018']"></i>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
<script>
   <%include file="../../scripts/partialscript/BCCT_LaoDongViecLam.js"/>
</script>