<div class="hcs-container" style="height: 100%">
    <page-sidebar on-add="onAdd" 
                  on-edit="onEdit" 
                  on-delete="onDelete" 
                  on-save="onSave" 
                  on-import="onImport" 
                  on-export="onExport"
                  on-search-press="onSearch"
                  source="mapName" 
                  key-field="function_id" 
                  display-field="default_name" 
                  icon-field="icon" 
                  selected-key="selectedFunction"
                  reload-on-change="true"
                  advanced-search="advancedSearch">
        <site-map>
            <a><span>{{$root.currentFunction.default_name}}</span></a>
            <span><i class="bowtie-icon bowtie-chevron-right"></i></span>
            <span>{{currentFunction.default_name}}</span></site-map>
        <extend-toolbar>
            <div style="display: grid; grid-template-columns: {{$root.isDisplay ? 'auto 1fr 1fr' : '1fr 1fr'}} ">
                <div style="float: left;" ng-if="$root.isDisplay">
                    <button class="zb-btn" ng-click="onDisplayListData()">
                        <i class="bowtie-icon bowtie-editor-list-bullet"></i>
                    </button>
                    <button class="zb-btn" ng-click="onDisplayGridData()">
                        <i class="bowtie-icon bowtie-view-grid"></i>
                    </button>
                </div>
                <div class="col-md-6" style="padding-right: 0; top: 2px;">
                    <!--<input-text-icon id="tableSearchText" on-click="objSearch.onSearch" ng-model="objSearch.$$$modelSearch"></input-text-icon>-->
                     <div class="hcs-left-side-department-tree-tool-bar-div-search">
                        <input class="hcs-left-side-department-tree-tool-bar-input-search" on-click="objSearch.onSearch" ng-model="objSearch.$$$modelSearch">
                        <div class="hcs-left-side-department-tree-tool-bar-input-search-bot"></div>
                        <div class="hcs-left-side-department-tree-tool-bar-input-search-bot-icon">
                            <i class="glyphicon glyphicon-search"></i>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="dropdown" ng-if="$root.isDisplay">
                        <button class="zb-btn dropdown-toggle" type="button" data-toggle="dropdown">
                            <i class="bowtie-ellipsis bowtie-icon"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <button class="zb-btn border-0" ng-click="viewHistoryLearningMaterial()">
                                    <i class="bowtie-icon bowtie-navigate-history"></i>
                                </button>
                                <span>${get_res('view_history','View History')}</span>
                            </li>
                            <li>
                                <button class="zb-btn border-0" ng-click="viewDetailsLearningMaterial()">
                                    <i class="bowtie-icon bowtie-ellipsis"></i>
                                </button>
                                <span>${get_res('view_detail','Details')}</span>
                            </li>
							<li>
                                <button class="zb-btn border-0" ng-click="viewPermissionLearningMaterialManagerment()">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </button>
                                <span>${get_res('view_assign_permission','Assign Permissions')}</span>
                            </li>
							<li>
                                <button class="zb-btn border-0" ng-click="viewAdvandceSearchLearningMaterialManagerment()">
                                    <i class="glyphicon glyphicon-filter"></i>
                                </button>
                                <span>${get_res('view_advandce_search','Advandce Search')}</span>
                            </li>
                            <li>
                                <button class="zb-btn border-0" ng-click="viewShareFileLearningMaterial()">
                                    <i class="bowtie-icon bowtie-share"></i>
                                </button>
                                <span>${get_res('view_share_file','Share file')}</span>
                            </li>
                            <li>
                                <button class="zb-btn" ng-click="downLoadFileLearningMaterial()">
                                    <i class="bowtie-icon bowtie-transfer-download"></i>
                                </button>
                                <span>${get_res('view_download_file','Download file')}</span>
                            </li>
                        </ul>
                    </div>
                    <button class="zb-btn zb-btn-o-green" ng-click="addLearningMaterial()">
                            <i class="bowtie-icon bowtie-math-plus"></i>
                    </button>
                    <button class="zb-btn zb-btn-o-blue" ng-click="editLearningMaterial()">
                            <i class="bowtie-icon bowtie-edit-outline"></i>
                        </button>
                    <button class="zb-btn zb-btn-o-red" ng-click="delLearningMaterial()">
                            <i class="bowtie-icon bowtie-edit-remove"></i>
                    </button>
                    <button class="zb-btn" ng-click="importLearningMaterial()">
                            <i class="bowtie-icon bowtie-transfer-upload"></i>
                        </button>
                    <button class="zb-btn" ng-click="exportLearningMaterial()">
                            <i class="bowtie-icon bowtie-transfer-download"></i>
                        </button>
                    <button class="zb-btn" ng-click="$root.refresh()">
                            <i class="bowtie-icon bowtie-navigate-refresh"></i>
                        </button>

                </div>
            </div>
        </extend-toolbar>
        <content>
            <div c-template url="${get_app_url('')}/pages/{{$partialpage}}" 
                 style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;"></div>
        </content>
    </page-sidebar>
</div>
<script>
    <%include file="../scripts/learning_material.js"/>
</script>
