<div class="lms-body-version-history">
    <p>This page includes previous versions of the file. User can restore the selected version.</p>
    <br />
    <div class="row" style="">
        <div class="col-md-6">
            <div class="form-group zb-form-group">
                <!--Mã nhóm-->
                <label class="col-sm-3 zb-form-label">File Name</label>
                <div class="col-sm-9">
                    <input-text ng-model="_currentItem.material_name"></input-text>
                </div>
            </div>
        </div>
    </div>  
    <br />
    <div class="">
        <div class="lms-table-history-custom-header" style="text-align: center;grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;">
		    <div ng-repeat="item in currentHeader">{{item.value}}</div>
	    </div>
        <div class="lms-table-history-custom-body" style="text-align: center;">
            <div ng-repeat="item in currentItem track by $index">
              <div class="lms-table-history-custom-group" item-group-share="{{$index}}">
                    <div style="color: #008ccb">
                        {{item.caption}} ({{item.items.length}})
                    </div>
                    <div style="border-bottom: 1px solid #008ccb"></div>
                    <div>
                        <i class="bowtie-icon bowtie-chevron-left-light lms-icon-up" style="color: #008ccb" onclick="onClickIconShare(this)"></i>
                    </div>
                </div>

                <div class="lms-table-history-custom" item-group-child-share="{{$parent.$index}}" ng-repeat="data in item.items" style="grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;">
                    <div><img src={{data.data_version.files.file_thumbnail}} alt="Smiley face"  width="30"/> {{data.data_version.material_name}}</div>
                    <div>
                         {{data.version}}
                    </div>
                    <div>
                         {{data.data_version.status}}
                    </div>
                    <div>
                        {{data.data_version.creator? data.data_version.creator : noData }}
                    </div>
                    <div>
                        {{data.data_version.submit_date|date:'MM/dd/yyyy h:mma'}}
                    </div>
                    <div>
                        {{data.data_version.approve_comment}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    (function (scope) {
        scope.currentHeader = [
            //{  value: "", width: "30px" },
            {  value: "${get_global_res('lms_version_history_name','Name')}", width: "1fr" },
            {  value: "${get_global_res('lms_version_history_version','Version')}", width: "1fr" },
            {  value: "${get_global_res('lms_version_history_status','Status')}", width: "1fr" },
            { value: "${get_global_res('lms_version_history_modified_by','Modified by')}", width: "1fr" },
            {  value: "${get_global_res('lms_version_history_modified_on','Modified on')}", width: "1fr" },
            {  value: "${get_global_res('lms_version_history_comment','Comment')}", width: "1fr" }
        ];
        scope.currentItem = [
            {
                caption: "To day",
                items: [

                ]
            }, {
                caption: "Yesterday",
                items: [

                ]
            }, {
                caption: "Last week",
                items: [

                ]
            }
        ]
        scope._currentItem = scope.$parent.currentItem;
        scope.loadHistoryVersion = function () {
                
            services.api("${get_api_key('app_main.api.LMSLS_MaterialManagement/get_data_info_history_version')}")
                .data({
                    "where": {
                        'id': scope._currentItem['_id']
                    }
                })
                .done()
                .then(function (res) {
                    debugger
                        var date_now = moment().format('YYYY-MM-DD')
                   
                    scope.temp_version = res.items[0];
                    if (scope.temp_version.material_version) {
                        for (var i = 0; i < scope.temp_version.material_version.length; i++) {
                            var date_created = scope.temp_version.material_version[i].data_version.submit_date
                            var value_date_created = moment(date_created, 'YYYY-MM-DD')
                            var rangeTime = moment.preciseDiff(date_now, value_date_created, true)
                            var rangeDay = rangeTime.years * 365 + rangeTime.months * 30 + rangeTime.days
                            if (rangeDay == 0) {
                                scope.currentItem[0].items.push(scope.temp_version.material_version[i])
                            }
                            else if (rangeDay == 1) {
                                scope.currentItem[1].items.push(scope.temp_version.material_version[i])
                            }
                            else {
                                scope.currentItem[2].items.push(scope.temp_version.material_version[i])
                            }
                        }
                    }
                    else {
                        scope.noData ="No history results"
                    }
                    scope.$applyAsync();
                    console.log(scope.noData)
                })
        }
        scope.loadHistoryVersion()
    });
</script>
<script type="text/javascript">
    var onClickIcon = function (me) {
        var icon = $(me);
        var parent = icon.parent().parent();
        var attrValue = parent.attr('item-group');
        if (icon.hasClass('lms-icon-up')) {
            icon.removeClass('lms-icon-up');
            icon.addClass('lms-icon-down');
            
        } else {
            icon.removeClass('lms-icon-down');
            icon.addClass('lms-icon-up')
        }
        $("[item-group-child=" + attrValue + "]").slideToggle();
    }
</script>