
<%!
    #_style="width:300px;"
%>
<%inherit file="../../commons/dialog_save_close.html"/>

<%block name="modal_body">
 <div class="col-md-12">
    <collapse-box class="zb-form-common" title="${get_global_res('Common_Information','Thông tin chung')}">        
      <div class="col-md-6">
            <div class="form-group zb-form-group">
                <label class="col-sm-5 zb-form-label">${get_res('begin_date','Từ ngày')}</label>
                <div class="col-sm-7">
                     <date-picker ng-model="entity.begin_date" data-format="{{$root.systemConfig.date_format}}" required/>
                </div>
            </div>
            <div class="form-group zb-form-group">
                <label class="col-sm-5 zb-form-label">${get_res('end_date','Đến ngày')}</label>
                <div class="col-sm-7">
                    <date-picker ng-model="entity.end_date" data-format="{{$root.systemConfig.date_format}}"/>
                </div>
            </div>
            <div class="form-group zb-form-group">
                <label class="col-sm-5 zb-form-label">${get_res('working_location','Đơn vị làm việc')}</label>
                <div class="col-sm-7">
                    <input-text ng-model="entity.working_location" required>
                </div>
            </div>
            <div class="form-group zb-form-group">
                <label class="col-sm-5 zb-form-label">${get_global_res('address','Địa chỉ')}</label>
                <div class="col-sm-7">
                    <input-text ng-model="entity.address">
                </div>
            </div>
            <div class="form-group zb-form-group">
                <label class="col-sm-5 zb-form-label">${get_res('is_na_company','Công ty nhà nước')}</label>
                <div class="col-sm-7">
                    <input-checkbox ng-model="entity.is_na_company"/>
                </div>
            </div>
            <div class="form-group zb-form-group">
                <label class="col-sm-5 zb-form-label">${get_res('is_in_section','Cty thuộc nghành')}</label>
                <div class="col-sm-7">
                    <input-checkbox ng-model="entity.is_in_section"/>
                </div>
            </div>
            <div class="form-group zb-form-group">
                <label class="col-sm-5 zb-form-label">${get_res('salary','Mức lương')}</label>
                <div class="col-sm-7">
                     <input-number ng-model="entity.salary" required/>
                </div>
            </div>
            <div class="form-group zb-form-group">
               <label for="inputLastName" class="col-sm-5 zb-form-label">${get_res('currency_code','Nguyên tệ')}</label>
               <div class="col-sm-7">
                    <combobox   load-data="$root.$getComboboxData"  
                                ng-model="entity.currency_code"
                                params="{key:'${encryptor.get_key('cbb_currency')}', value:[{ '@lock': true }]}"
                                on-search-change="false"
                                on-search-press="true"
                                placeholder=""
                                init-data="$$$currency_code.value"
                                caption-field="{{$$$currency_code.caption_field}}" 
                                paging="true"
                                close-on-select="true"
                                template-fields="$$$currency_code.display_fields"
                                reload="false">
                    </combobox>
              </div>
            </div>
    </div>
      <div class="col-md-6">
            <div class="form-group zb-form-group">
                <label class="col-sm-5 zb-form-label">${get_res('working_on','Công cụ làm việc')}</label>
                <div class="col-sm-7">
                    <input-text ng-model="entity.working_on">
                </div>
            </div>
            <div class="form-group zb-form-group">
                <label class="col-sm-5 zb-form-label">${get_res('job_pos_code','Chức vụ')}</label>
                <div class="col-sm-7">
                    <combobox load-data="$root.$getComboboxData"  
                              ng-model="entity.job_pos_code"
                              params="{key:'${encryptor.get_key('cbb_position')}', value:[{ '@lock': true }]}"
                              on-search-change="false"
                              on-search-press="true"
                              placeholder=""
                              init-data="$$$job_pos_code.value"
                              caption-field="{{$$$job_pos_code.caption_field}}" 
                              paging="true"
                              close-on-select="true"
                              template-fields="$$$job_pos_code.display_fields"
                              reload="false">
                    </combobox>
                </div>
            </div>
            <div class="form-group zb-form-group">
                <label class="col-sm-5 zb-form-label">${get_res('job_w_code','Chức danh')}</label>
                <div class="col-sm-7">
                     <!--<combobox title="{{comboboxInfo.title}}" 
                                load-data="$combobox.loadData" 
                                ng-model="entity.job_w_code"
                                key-field="{{comboboxInfo.valueField}}"
                                caption-field="{{comboboxInfo.captionField}}"
                                on-search-change="false"
                                on-search-press="true"
                                placeholder=""                               
                                paging="true"
                                on-select="$combobox.selectCombobox"
                                on-accept="$combobox.acceptCombobox"
                                close-on-select="true">
                    </combobox>-->
                    <input-text-icon ng-model="$$$job_working.value.job_w_name" on-click="set_job_w_code()" style="padding:5px;">
                </div>
            </div>
            <div class="form-group zb-form-group">
                <label class="col-sm-5 zb-form-label">${get_res('profession_code','Chuyên môn')}</label>
                <div class="col-sm-7">
                    <combobox load-data="$root.$getComboboxData"  
                              ng-model="entity.profession_code"
                              params="{key:'${encryptor.get_key('cbb_profession')}', value:[{ '@lock': true }]}"
                              on-search-change="false"
                              on-search-press="true"
                              placeholder=""
                              init-data="$$$profession_code.value"
                              caption-field="{{$$$profession_code.caption_field}}" 
                              paging="true"
                              close-on-select="true"
                              template-fields="$$$profession_code.display_fields"
                              reload="false">
                    </combobox>
                </div>
            </div>
            <div class="form-group zb-form-group">
                <label class="col-sm-5 zb-form-label">${get_res('emp_type_code','Loại nhân viên')}</label>
                <div class="col-sm-7">
                    <combobox load-data="$root.$getComboboxData"  
                              ng-model="entity.emp_type_code"
                              params="{key:'${encryptor.get_key('cbb_employee_type')}', value:[{ '@lock': true }]}"
                              on-search-change="false"
                              on-search-press="true"
                              placeholder=""
                              init-data="$$$emp_type_code.value"
                              caption-field="{{$$$emp_type_code.caption_field}}" 
                              paging="true"
                              close-on-select="true"
                              template-fields="$$$emp_type_code.display_fields"
                              reload="false">
                    </combobox>
                </div>
            </div>
            <div class="form-group zb-form-group">
                <label class="col-sm-5 zb-form-label">${get_res('reason','Lý do nghỉ việc')}</label>
                <div class="col-sm-7">
                    <input-text ng-model="entity.reason">
                </div>
            </div>
            <div class="form-group zb-form-group">
                <label class="col-sm-5 zb-form-label">${get_res('quit_job_code','Hình thức thôi việc')}</label>
                <div class="col-sm-7">
                    <combobox load-data="$root.$getComboboxData"  
                              ng-model="entity.quit_job_code"
                              params="{key:'${encryptor.get_key('cbb_quit_job')}', value:[{ '@lock': true }]}"
                              on-search-change="false"
                              on-search-press="true"
                              placeholder=""
                              init-data="$$$quit_job_code.value"
                              caption-field="{{$$$quit_job_code.caption_field}}" 
                              paging="true"
                              close-on-select="true"
                              template-fields="$$$quit_job_code.display_fields"
                              reload="false">
                    </combobox>
                </div>
            </div>
    </div>
    </collapse-box>
</div>
<div class="col-md-{{col_group}} col-sm-{{col_group}}">
    <collapse-box class="zb-form-common" title="${get_global_res('reference_information','Thông tin tham chiếu')}">
        <div class="col-sm-12">
            <!--Ghi chú-->
            <div class="form-group zb-form-group">
                <div class="col-sm-12 no-padding">
                    <input-textarea rows="4" ng-model="entity.task"></input-textarea>
                </div>
            </div>
        </div>  
    </collapse-box>
</div>
<div class="col-md-{{ 12 - col_group}} col-sm-{{ 12 - col_group}}">
    <collapse-box class="zb-form-common" title="${get_global_res('Note','Ghi chú')}">
        <div class="col-sm-12">
            <!--Ghi chú-->
            <div class="form-group zb-form-group">
                <div class="col-sm-12 no-padding">
                    <input-textarea rows="4" ng-model="entity.note"></input-textarea>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="padding-top: 16px;">
            <div class="form-group zb-form-group">
                <label for="DisplayInfo" class="col-sm-4 zb-form-label">${get_global_res('create_and_modify','Tạo | Sửa')}</label>
                <div class="col-sm-8">
                    <input-text value="{{ entity.created_on | date: $root.systemConfig.date_format}} {{entity.created_by}} | {{ entity.modified_on | date: $root.systemConfig.date_format}} {{entity.modified_by}}" ng-disabled="true">
                </div>
            </div>
        </div>     
    </collapse-box>
</div>
</%block>

<%block name="modal_script">
<script>
    (function (scope) {
        var __default = {
            employee_code: scope.$root.$commons.$current_employee_code,
            begin_date:null,
            end_date:null,
            salary:null,
            currency_code:null,
            emp_type_code:null,
            job_pos_code:null,
            job_w_code:null,
            working_on:null,
            working_location:null,
            address:null,
            profession_code:null,
            quit_job_code:null,
            reason:null,
            ref_info:null,
            note:null,
            is_na_company:null,
            is_in_section:null,
            created_on:null,
            created_by:null,
            modified_on:null,
            modified_by:null
        };

        scope.__mode = scope.$parent.mode;
        scope.title = scope.$parent.headerTitle;
        scope.col = 12;
        scope.col_group = 6;
        scope.entity = scope.__mode == 2 ? scope.$parent.$tableEmpExperience.currentItem : __default;
        scope.onResizeDialog = onResizeDialog;
        //Nút lưu và thêm
        scope.saveNNext = saveNNext;
        //Nút lưu
        scope.saveNClose = saveNClose;

        scope.set_job_w_code = function () {
            var frm = lv.FormSearch(scope, "$$$job_working");
            frm.JobWorking(scope.entity, "job_w_code",  "${get_res('job_w_code','Chức danh')}", false);
            frm.openDialog;
        }

        function onResizeDialog() {
            $dialog.fullScreen();
            scope.col = scope.col == 12 ? 6 : 12;
            scope.col_group = scope.col_group == 6 ? 6 : 6;
        }

        function saveNClose() {            
            if (scope.entity != null) {
                var rsCheck = checkError();//Kết quả check input
                if (!rsCheck.result) {
                    $msg.message("${get_global_res('Input_Error','Nhập liệu sai')}", rsCheck.errorMsg, function () { });
                    return;
                }
                editData(function (res) {
                    if (res.error == null) {
                        $dialog.closeDialog();//Đóng form input
                        $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);//Xuất thông báo thành cônng
                        if (scope.__mode == 1 || scope.__mode == 3) {
                            //Reload table data
                            reloadData();
                        } else if (scope.__mode == 2) {
                            reloadData();
                        }
                    } else {
                        $msg.message("${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", "${get_global_res('Please_Try_Again','Xin thử vui lòng thử lại')}", function () { });
                    }
                });
            }
        }

        function saveNNext() {
            if (scope.entity != null) {
                var rsCheck = checkError();//Kết quả check input
                if (!rsCheck.result) {
                    //Nhập sai: break khỏi hàm
                    $msg.message("${get_global_res('Input_Error','Nhập liệu sai')}", rsCheck.errorMsg, function () { });
                    return;
                }
                editData(function (res) {
                    if (res.error == null) {
                        if (scope.__mode == 1 || scope.__mode == 3)
                            reloadData();
                        else {
                            reloadData();
                        }
                        $msg.alert("${get_global_res('Handle_Success','Thao tác thành công')}", $type_alert.INFO);
                        scope.entity = null;
                        scope.__mode = 1;
                    } else {
                        $msg.message("${get_global_res('Notification','Thông báo')}", "${get_global_res('Internal_Server_Error','Có lỗi từ phía máy chủ')}", function () { });
                    }
                })
            }
        }

        function editData(callback) {
            var url = getUrl();
            services.api(url)
                .data(scope.entity)
                .done()
                .then(function (res) {
                    callback(res);
                })
        }

        function getUrl() {
            return scope.__mode == 1 || scope.__mode == 3 ? "${get_api_key('app_main.api.HCSEM_EmpExperience/insert')}" /*Mode 1: Tạo mới*/
                : "${get_api_key('app_main.api.HCSEM_EmpExperience/update')}" /*Mode 2: Cập nhật*/
        }

        function reloadData() {
            var tableConfig = scope.$parent.$tableEmpExperience.$$tableConfig;
            scope.$parent._tableDataEmpExperience(tableConfig.iPage,
                tableConfig.iPageLength, tableConfig.orderBy,
                tableConfig.searchText, tableConfig.fnReloadData);
        }

        /**
         * Function check input
         */
        function checkError() {
            var errMsg;
            var valid = null;
            var rs = {
                "result": false,
                "errorMsg": ''
            };            
            valid = lv.Validate(scope.entity.begin_date);
            rs.result = valid.isDate();
            rs.errorMsg = rs.result === false ? "${get_res('begin_date_is_not_null','Ngày bắt đầu không được để trống')}" + '\n' : "";
            if (rs.result === false) {
                return rs;
            }
            valid = lv.Validate(scope.entity.working_location);
            rs.result = valid.isNullOrWhiteSpace();
            rs.errorMsg = rs.result === true ? "${get_res('working_location_is_not_null','Địa chỉ làm việc không được để trống')}" + '\n' : "";
            if (rs.result === true) {
                rs.result = false;
                return rs;
            }
            valid = lv.Validate(scope.entity.salary);
            rs.result = valid.isNumber();
            rs.errorMsg = rs.result === false ? "${get_res('salary_is_not_null','Mức lương không được để trống')}" + '\n' : "";
            if (rs.result === false) {
                return rs;
            }
            return rs;
        }

        (function _getDataInitCombobox() {
            scope.$root.$getInitComboboxData(scope,
                [{
                    "key": "${encryptor.get_key('cbb_currency')}",
                    "code": scope.entity
                        && scope.entity.hasOwnProperty('currency_code')
                        ? scope.entity.currency_code
                        : null,
                    "alias": "$$$currency_code"
                },
                {
                    "key": "${encryptor.get_key('cbb_job_working_single_check')}",
                    "code": scope.entity
                        && scope.entity.hasOwnProperty('job_w_code')
                        ? scope.entity.job_w_code
                        : null,
                    "alias" :"$$$job_working"
                },
                {
                    "key": "${encryptor.get_key('cbb_quit_job')}",
                    "code": scope.entity
                        && scope.entity.hasOwnProperty('quit_job_code')
                        ? scope.entity.quit_job_code
                        : null,
                    "alias": "$$$quit_job_code"
                },
                {
                    "key": "${encryptor.get_key('cbb_employee_type')}",
                    "code": scope.entity
                        && scope.entity.hasOwnProperty('emp_type_code')
                        ? scope.entity.emp_type_code
                        : null,
                    "alias": "$$$emp_type_code"
                },
                {
                    "key": "${encryptor.get_key('cbb_position')}",
                    "code": scope.entity
                        && scope.entity.hasOwnProperty('job_pos_code')
                        ? scope.entity.job_pos_code
                        : null,
                    "alias": "$$$job_pos_code"
                },
                {
                    "key": "${encryptor.get_key('cbb_profession')}",
                    "code": scope.entity
                        && scope.entity.hasOwnProperty('profession_code')
                        ? scope.entity.profession_code
                        : null,
                    "alias": "$$$profession_code"
                },
                ]
            );
        })();

    });
</script>

</%block>