<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div class="left-content pull-left">
                <span class="modal-title">{{title}}</span>
            </div>
            <div class="right-content pull-right">
                <button type="button" ng-click="onClose()" class="close" data-dismiss="modal"><i class="bowtie-icon bowtie-navigate-close"></i></button>
            </div>
        </div>
        <div class="modal-body" style="overflow:unset;">
            <div class="hcs-container">
                <div class="row hcs-profile-list">
                    <div class="hcs-left-side-department-content">
                        <div class="hcs-left-side-department-tree-tool-bar">
                            <div class="pull-left" style="padding-left:10px;">
                                <div class="hcs-left-side-department-tree-tool-bar-div-search">
                                   <input class="hcs-left-side-department-tree-tool-bar-input-search" 
                                          placeholder="Filter" ng-model="$$tree.treeSearchText">
                                   <div class="hcs-left-side-department-tree-tool-bar-input-search-bot"></div>
                                   <div class="hcs-left-side-department-tree-tool-bar-input-search-bot-icon">
                                       <i class="glyphicon glyphicon-search"></i>
                                   </div>
                                </div>
                            </div>
                            <div class="pull-left" style="padding-left:10px;">
                                <button class="zb-btn hcs-left-side-department-tree-tool-bar-btn-custom-icon" ng-click="$treeCollapseAll()" style="text-align: center;">
                                    <span>
                                    <i class="bowtie-icon bowtie-chevron-up-all"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="pull-left" style="padding-left:5px;">
                                <button class="zb-btn hcs-left-side-department-tree-tool-bar-btn-custom-icon" ng-click="$treeExpandAll()" style="text-align: center;">
                                    <span>
                                    <i class="bowtie-icon bowtie-chevron-down-all"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="hcs-left-side-department-tree" style="height: calc(100% - 38px);">
                            <tree-data data-source="$$tree.treeDataSource" 
                                       display-field="factor_group_name"
                                       parent-field="parent_code" 
                                       key-field="factor_group_code" 
                                       multi-select="$$tree.treeMultiSelect" 
                                       select-mode="$$tree.treeMode" 
                                       on-select="$$tree.selectTreeNode"
                                       current-node="$$tree.treeCurrentNode"
                                       selected-nodes="$$tree.treeSelectedNodes"
                                       selected-root-nodes="$$tree.treeSelectedRootNodes"
                                       search-text="$$tree.treeSearchText"
                                       check-all="$$tree.treeCheckAll"
                                       checked-field="is_selected"
                                       disabled="true"
                                       expand-all="$treeExpandAll"
                                       collapse-all="$treeCollapseAll"/>
                        </div>
                    </div>
                    <div class="hcs-right-side-department-content">
                        <div class="hcs-right-side-department-list" style="height:100%;">
                            <table-data data-source="$$table.tableSource" 
                                        fields="$$table.tableFields" 
                                        type="{{checkMode}}" 
                                        paging="true" 
                                        page-length="100" 
                                        server-side="true" 
                                        press-enter="$$table.onSelectTableRow" 
                                        selected-items="$$table.selectedItems" 
                                        current-item="$$table.currentItem" 
                                        search-text="$$table.tableSearchText"
                                        refresh-row="$$table.refreshDataRow"
                                        selected-field="row_checked">
                            </table-data>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="right-content pull-right">
                <button ng-click="save($event)"><i class="la la-check"></i></button>
            </div>
        </div>
    </div>
</div>
<script>
    (function ($scope) {
        $scope.title = $scope.$parent.$frmSearch[$scope.$parent.$frmSearch.alias].title;
        $scope.checkMode = $scope.$parent.$frmSearch[$scope.$parent.$frmSearch.alias].multi === true ? 'MultiSelect' : 'SingleSelect';
        $scope.save = save;
        $scope.onClose = onClose;
        var __url_get_data_table = "${get_api_key('app_main.api.TMLS_FactorAppraisal/get_list_with_searchtext')}";
        var __url_get_data_tree = "${get_api_key('app_main.api.TMLS_FactorAppraisalGroup/get_tree')}";
        $scope.$$table = {
            tableFields: [
                { "data": "factor_code", "title": "${get_global_res('factor_code_table_header','Mã')}", "className": "text-left" },
                { "data": "factor_name", "title": "${get_global_res('factor_name_table_header','Yếu tố')}", "className": "text-left" },
                { "data": "weight", "title": "${get_global_res('weight_table_header','Trọng số')}", "className": "text-left" },
                { "data": "is_apply_all", "title": "${get_global_res('is_apply_all_table_header','Toàn CTY')}", "className": "text-center", "format":"checkbox" }
            ],
            $$tableConfig: {},
            tableSource: _loadDataServerSide,
            onSelectTableRow: function ($row) { onEdit(); },
            selectedItems: [],
            currentItem: {},
            tableSearchText: "",
            refreshDataRow: function () { /*Do nothing*/ }
        };
        $scope.$$tree = {
            treeCurrentNode: {},
            treeSelectedNodes: [],
            treeSelectedRootNodes: [],
            treeCheckAll: false,
            treeSearchText: '',
            treeDisable: false,
            treeMultiSelect: false,
            treeMode: 3,// Value in (1, 3) combobox toàn quyền set 1 ngược lại set 3
            treeDataSource: null
        };
        var __m_current_item = [];

        function save() {
            if ($scope.checkMode === 'MultiSelect') {
                var value = _.pluck($scope.$$table.selectedItems, $scope.$parent[$scope.$parent.$frmSearch.alias].value_field);
                $scope.$parent.$frmSearch[$scope.$parent.$frmSearch.alias].setValue(value);
                var lst = [];
                _.each($scope.$$table.selectedItems, function (val) {
                    var obj = {};
                    obj[$scope.$parent[$scope.$parent.$frmSearch.alias].value_field] = val[$scope.$parent[$scope.$parent.$frmSearch.alias].value_field];
                    obj[$scope.$parent[$scope.$parent.$frmSearch.alias].caption_field] = val[$scope.$parent[$scope.$parent.$frmSearch.alias].caption_field];
                    lst.push(obj);
                });
                var temp = JSON.parse(JSON.stringify($scope.$parent[$scope.$parent.$frmSearch.alias]));
                $scope.$parent[$scope.$parent.$frmSearch.alias] = null;
                temp['value'] = lst;
                $scope.$parent[$scope.$parent.$frmSearch.alias] = temp;
            } else {
                var value = $scope.$$table.currentItem[$scope.$parent[$scope.$parent.$frmSearch.alias].value_field];
                $scope.$parent.$frmSearch[$scope.$parent.$frmSearch.alias].setValue(value);
                var obj = {};
                obj[$scope.$parent[$scope.$parent.$frmSearch.alias].value_field] = $scope.$$table.currentItem[$scope.$parent[$scope.$parent.$frmSearch.alias].value_field];
                obj[$scope.$parent[$scope.$parent.$frmSearch.alias].caption_field] = $scope.$$table.currentItem[$scope.$parent[$scope.$parent.$frmSearch.alias].caption_field];
                var temp = JSON.parse(JSON.stringify($scope.$parent[$scope.$parent.$frmSearch.alias]));
                $scope.$parent[$scope.$parent.$frmSearch.alias] = null;
                temp['value'] = obj;
                $scope.$parent[$scope.$parent.$frmSearch.alias] = temp;
            }
            $scope.$applyAsync();
            $scope.$parent.$frmSearch[$scope.$parent.$frmSearch.alias].event.accept();
            $dialog.closeDialog();
        };

        function onClose() {
            $scope.$parent.$frmSearch[$scope.$parent.$frmSearch.alias].event.cancel();
        }

        function _loadDataServerSide(fnReloadData, iPage, iPageLength, orderBy, searchText) {
            $scope.$$table.$$tableConfig = {
                fnReloadData: fnReloadData,
                iPage: iPage,
                iPageLength: iPageLength,
                orderBy: orderBy,
                searchText: searchText
            };
            if (fnReloadData) {
                if (searchText) {
                    _tableData(iPage, iPageLength, orderBy, searchText, function (data) {
                        fnReloadData(data);
                    });
                } else {
                    _tableData(iPage, iPageLength, orderBy, null, function (data) {
                        fnReloadData(data);
                    });
                }
            }
        };

        function _tableData(iPage, iPageLength, orderBy, searchText, callback) {
            var sort = {};
            $.each(orderBy, function (i, v) {
                sort[v.columns] = (v.type === "asc") ? 1 : -1;
            });
            sort[orderBy[0].columns] =
                services.api(__url_get_data_table)
                    .data({
                        //parameter at here
                        "pageIndex": iPage - 1,
                        "pageSize": iPageLength,
                        "search": searchText,
                        "sort": sort,
                        "factor_group_code": $scope.$$tree.treeCurrentNode.hasOwnProperty("factor_group_code") === true ? $scope.$$tree.treeCurrentNode.factor_group_code : null
                    })
                    .done()
                    .then(function (res) {
                        if ($scope.checkMode === 'MultiSelect') {
                            var checked = $scope.$parent.$frmSearch[$scope.$parent.$frmSearch.alias].selected;
                            _.each(res.items, function (val) {
                                if (_.contains(checked, val[$scope.$parent[$scope.$parent.$frmSearch.alias].value_field])) {
                                    val['row_checked'] = true;
                                } else {
                                    val['row_checked'] = false;
                                }
                            });
                        }
                        var data = {
                            recordsTotal: res.total_items,
                            recordsFiltered: res.total_items,
                            data: res.items
                        };
                        callback(data);
                        $scope.$apply();
                    })
        }

        function _loadTreeDataSource() {
            services.api(__url_get_data_tree)
                .data()
                .done()
                .then(function (res) {
                    $scope.$$tree.treeDataSource = res;
                    $scope.$applyAsync();
                })
        }

        (function __init__() {
            _loadTreeDataSource();
        })();

        $scope.$watch("$$tree.treeCurrentNode", function () {
            _tableData($scope.$$table.$$tableConfig.iPage, $scope.$$table.$$tableConfig.iPageLength,
                $scope.$$table.$$tableConfig.orderBy, $scope.$$table.$$tableConfig.searchText,
                $scope.$$table.$$tableConfig.fnReloadData);
        });
    });
</script>