
<%!
    #_style="width:200px;"
%>
<%inherit file="../../commons/dialog_selected_cancel.html"/>

<%block name="modal_body">
 <div class="col-md-12">
    <collapse-box class="zb-form-common" title="${get_global_res('data_generate_source','Nguồn phát sinh dữ liệu')}">        
  
	 <div class="col-md-12">
			   <div class="form-group zb-form-group">
                            <input type="radio" name="optradio"/>
                             <label class="col-sm-4 zb-form-label">${get_res('get_by_setup_aprPeriod','Lấy theo thiết lập của kỳ đánh giá')}</label>
                             <div class="col-sm-8">
                                 <input-select data-list="cbbApprovalPeriod" ng-model="entity.apr_result_period" data-value="value" data-caption="caption"/>
                             </div>
                         </div>
			  </div>
		 <div class="col-md-12">
			   <div class="form-group zb-form-group">
                            <input type="radio" name="optradio"/>
                             <label class="col-sm-4 zb-form-label">${get_res('get_by_result_aprPeriod','Lấy theo kết quả của kỳ đánh giá')}</label>
                             <div class="col-sm-8">
                                 <input-select data-list="cbbApprovalPeriod" ng-model="entity.apr_result_period" data-value="value" data-caption="caption"/>
                             </div>
                         </div>
			  </div>
		<br />
		<div class="col-md-12" style="margin-top:40px;">
			   <div class="form-group zb-form-group">
                            <input type="checkbox"/>
                             <label class="col-sm-4 zb-form-label">${get_res('exchange_list_present','Thay thế danh sách hiện có')}</label>
                         </div>
			  </div>
		</collapse-box>
		  </div>
	</%block>

<%block name="modal_script">
<style>
	input[type=radio],input[type=checkbox] {
    width: 20px;
    height: 20px;
}
</style>
<script>
	(function (scope) {
		scope.title = "Phát sinh định mức xếp loại";
		scope.onResizeDialog = onResizeDialog;
		scope.cbbApprovalPeriod = [];
		(function _loadCombobox() {
				services.api("${get_api_key('app_main.api.TMPER_AprPeriodEmpOut/get_list_distinct_approval_year_and_period')}")
					.data({})
					.done()
					.then(function (res) {
						debugger
						scope.cbbApprovalPeriod = res;
						//scope.entity.apr_now_result_period = res[2].caption;
						scope.$apply();
					})
			
		}) ();

		function onResizeDialog() {
			$dialog.fullScreen();
			scope.col = scope.col == 12 ? 6 : 12;
			scope.col_group = scope.col_group == 6 ? 8 : 6;
		}
    });
</script>

</%block>