<div class="tab-pane fade in active" style="height:100%;overflow:auto;">
    <div class="col-md-12">
        <collapse-box class="zb-form-common" title="${get_res('basic_info','Thông tin cơ bản')}">
            <div class="col-md-6">
                <!--Mã phồng ban-->
                <div class="form-group zb-form-group">
                    <label for="inputDepartmentsCode" class="col-sm-5 zb-form-label">${get_res('department_code','Mã phòng ban')}</label>
                    <div class="col-sm-7">
                        <input-text id="inputDepartmentsCode" ng-model="entity.department_code" required/>
                    </div>
                </div>
                <!--Bí danh-->
                <div class="form-group zb-form-group">
                    <label for="inputDayExpire" class="col-sm-5 zb-form-label">${get_res('department_alias','Bí danh')}</label>
                    <div class="col-sm-7">
                        <input-text id="inputDayExpire" ng-model="entity.department_alias"/>
                    </div>
                </div>
                <!--Tên phòng ban-->
                <div class="form-group zb-form-group">
                    <label for="inputDepartmentName" class="col-sm-5 zb-form-label">${get_res('department_name','Tên phòng ban')}</label>
                    <div class="col-sm-7">
                        <input-text id="inputDepartmentName" ng-model="entity.department_name" required/>
                    </div>
                </div>
                <!--Tên khác-->
                <div class="form-group zb-form-group">
                    <label for="inputDepartmentName2" class="col-sm-5 zb-form-label">${get_res('department_name2','Tên khác')}</label>
                    <div class="col-sm-7">
                        <input-text id="inputDepartmentName2" ng-model="entity.department_name2"/>
                    </div>
                </div>
                <!--Thuộc bộ phận-->
                <div class="form-group zb-form-group">
                    <label for="inputDepartmentName2" class="col-sm-5 zb-form-label">${get_res('parent_code','Thuộc bô phận')}</label>
                    <div class="col-sm-7">
                        <input-combobox id="inputEmployeeId"
                            api-url="${get_api_key('app_main.api.common/get_dropdown_list')}"
                            list-code="${encryptor.get_key('cbb_AD_Roles')}"
                            list-value="[{ '@dd_code': '' }]"
                            current-item="entity.parent_code"
                            multi-select="false">
                        <tree-combobox
                            load-data="$root.$getComboboxData" 
                            ng-model="entity.parent_code"
                            placeholder=""
                            init-data="$$$cbb_departments.value"
                            caption-field="{{$$$cbb_departments.caption_field}}"
                            key-field="{{$$$cbb_departments.value_field}}"
                            parent-field="{{$$$cbb_departments.parent_field}}"
                            multi-select="$$$cbb_departments.multi_select"
                            on-accept=""
                            params="{key:'${encryptor.get_key('cbb_departments')}', value:[{ '@lock': true }]}"
                            required>
                        </tree-combobox>
                    </div>
                </div>
                <!--Người quản lí-->
                <div class="form-group zb-form-group">
                    <label for="inputDepartmentName2" class="col-sm-5 zb-form-label">${get_res('manager_code','Người quản lí')}</label>
                    <div class="col-sm-7">
                        <combobox load-data="$root.$getComboboxData" 
                                ng-model="entity.manager_code"
                                params="{key:'${encryptor.get_key('cbb_employees_cbcc')}', value:[]}"
                                on-search-change="false"
                                on-search-press="true"
                                placeholder=""
                                init-data="$$$manager_code.value"
                                caption-field="{{$$$manager_code.caption_field}}" 
                                paging="true"
                                close-on-select="true"
                                template-fields="$$$manager_code.display_fields"
                                reload="false">
                    </combobox>
                    </div>
                </div>
                <!--Thư kí-->
                <div class="form-group zb-form-group">
                    <label for="inputDepartmentName2" class="col-sm-5 zb-form-label">${get_res('secretary_code','Thư ký')}</label>
                    <div class="col-sm-7">
                        <combobox load-data="$root.$getComboboxData" 
                                ng-model="entity.secretary_code"
                                params="{key:'${encryptor.get_key('cbb_employees_cbcc')}', value:[]}"
                                on-search-change="false"
                                on-search-press="true"
                                placeholder=""
                                init-data="$$$secretary_code.value"
                                caption-field="{{$$$secretary_code.caption_field}}" 
                                paging="true"
                                close-on-select="true"
                                template-fields="$$$secretary_code.display_fields"
                                reload="false">
                        </combobox>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!--Là cấp công ty-->
                <div class="form-group zb-form-group">
                    <label for="inputOrdinal" class="col-sm-5 zb-form-label">${get_res('is_company','Là cấp công ty')}</label>
                    <div class="col-md-7">
                        <input-checkbox ng-model="entity.is_company" data-caption=""/>
                    </div>
                </div>
                <!--Thứ tự-->
                <div class="form-group zb-form-group">
                    <label for="inputOrdinal" class="col-sm-5 zb-form-label">${get_res('ordinal','Thứ tự')}</label>
                    <div class="col-sm-7">
                        <input-text id="inputOrdinal" ng-model="entity.ordinal"/>
                    </div>
                </div>
                <!--Ghi chú-->
                <div class="form-group zb-form-group">
                    <label for="inputNote" class="col-sm-5 zb-form-label">${get_global_res('note','Ghi chú')}</label>
                    <div class="col-sm-7">
                        <input-textarea rows="3" ng-model="entity.note"></input-textarea>
                    </div>
                </div>
                <div class="form-group zb-form-group">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-7">
                        <button class="btn btn-primary md-6">Đỗi tên</button>
                        <button class="btn btn-primary md-6">Giải thể</button>
                    </div>
                </div>
                <!--Giải thể-->
                <div class="form-group zb-form-group">
                    <div class="col-md-5">
                        <input-checkbox ng-model="entity.lock" data-caption="${get_res('lock','Giải thể')}"/>
                    </div>
                    <div class="col-sm-7">
                        <date-picker ng-model="entity.lock_date" data-format="{{$root.systemConfig.date_format}}" />
                    </div>
                </div>
                <!--Logo-->
                <div class="form-group zb-form-group">
                    <label for="inputLogo" class="col-sm-5 zb-form-label">${get_res('logo','Logo')}</label>
                    <div class="col-sm-7">
                        <input-text id="inputLogo" ng-model="entity.logo"/>
                    </div>
                </div>
            </div>
        </collapse-box>
    </div>
    <div class="col-md-12">
        <collapse-box class="zb-form-common" title="${get_res('Decision','Quyết định')}">
            <div class="col-md-6">
                <!--Số quyết định-->
                <div class="form-group zb-form-group">
                    <label for="inputDecisionNo" class="col-sm-5 zb-form-label">${get_res('decision_no','Số quyết định')}</label>
                    <div class="col-sm-7">
                        <input-text id="inputDepartmentsCode" ng-model="entity.decision_no"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!--Ngày quyết định-->
                <div class="form-group zb-form-group">
                    <label for="inputDecisionDate" class="col-sm-5 zb-form-label">${get_res('decision_date','Ngày quyết định')}</label>
                    <div class="col-sm-7">
                        <date-picker ng-model="entity.decision_date" data-format="{{$root.systemConfig.date_format}}" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!--Số giấy phép-->
                <div class="form-group zb-form-group">
                    <label for="inputLicenseNo" class="col-sm-5 zb-form-label">${get_res('license_no','Số giấy phép')}</label>
                    <div class="col-sm-7">
                        <input-text id="inputLicenseNo" ng-model="entity.license_no"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!--Người ký-->
                <div class="form-group zb-form-group">
                    <label for="inputSignedBy" class="col-sm-5 zb-form-label">${get_res('signed_by','Người ký')}</label>
                    <div class="col-sm-7">
                        <combobox load-data="$root.$getComboboxData" 
                                ng-model="entity.signed_by"
                                params="{key:'${encryptor.get_key('cbb_employees_cbcc')}', value:[]}"
                                on-search-change="false"
                                on-search-press="true"
                                placeholder=""
                                init-data="$$$signed_by.value"
                                caption-field="{{$$$signed_by.caption_field}}" 
                                paging="true"
                                close-on-select="true"
                                template-fields="$$$signed_by.display_fields"
                                reload="false">
                        </combobox>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!--Mã số thuế-->
                <div class="form-group zb-form-group">
                    <label for="inputTaxCode" class="col-sm-5 zb-form-label">${get_res('tax_code','Mã số thuế')}</label>
                    <div class="col-sm-7">
                        <input-text id="inputTaxCode" ng-model="entity.tax_code"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!--Ngày hiệu lực-->
                <div class="form-group zb-form-group">
                    <label for="inputEffectDate" class="col-sm-5 zb-form-label">${get_res('effect_date','Ngày hiệu lực')}</label>
                    <div class="col-sm-7">
                        <date-picker ng-model="entity.effect_date" data-format="{{$root.systemConfig.date_format}}" />
                    </div>
                </div>
            </div>
        </collapse-box>
    </div>
    <div class="col-md-12">
        <collapse-box class="zb-form-common" title="${get_res('Contact','Liên hệ')}">
            <div class="col-md-6">
                <!--Địa chỉ-->
                <div class="form-group zb-form-group">
                    <label for="inputDepartmentAddress" class="col-sm-5 zb-form-label">${get_res('department_address','Địa chỉ')}</label>
                    <div class="col-sm-7">
                        <input-text id="inputDepartmentAddress" ng-model="entity.department_address"/>
                    </div>
                </div>
                <!--Điện thoại-->
                <div class="form-group zb-form-group">
                    <label for="inputDepartmentTel" class="col-sm-5 zb-form-label">${get_res('department_tel','Điện thoại')}</label>
                    <div class="col-sm-7">
                        <input-text id="inputDepartmentTel" ng-model="entity.department_tel"/>
                    </div>
                </div>
                <!--Số fax-->
                <div class="form-group zb-form-group">
                    <label for="inputDepartmentFax" class="col-sm-5 zb-form-label">${get_res('department_fax','Số fax')}</label>
                    <div class="col-sm-7">
                        <input-text id="inputDepartmentFax" ng-model="entity.department_fax"/>
                    </div>
                </div>
                <!--Email-->
                <div class="form-group zb-form-group">
                    <label for="inputDepartmentEmail" class="col-sm-5 zb-form-label">${get_res('department_email','Email')}</label>
                    <div class="col-sm-7">
                        <input-text id="inputDepartmentEmail" ng-model="entity.department_email"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!--Quốc gia-->
                <div class="form-group zb-form-group">
                    <label for="inputSignedBy" class="col-sm-5 zb-form-label">${get_res('nation_code','Quốc gia')}</label>
                    <div class="col-sm-7">
                            <input-combobox id="inputEmployeeId"
                            api-url="${get_api_key('app_main.api.common/get_dropdown_list')}"
                            list-code="${encryptor.get_key('cbb_AD_Roles')}"
                            list-value="[{ '@dd_code': '' }]"
                            current-item="entity.nation_code"
                            multi-select="false">
                        <combobox load-data="$root.$getComboboxData" 
                                ng-model="entity.nation_code"
                                params="{key:'${encryptor.get_key('cbb_nation')}', value:[{ '@lock': true }]}"
                                on-search-change="false"
                                on-search-press="true"
                                placeholder=""
                                init-data="$$$cbb_nation.value"
                                caption-field="{{$$$cbb_nation.caption_field}}" 
                                paging="true"
                                close-on-select="true"
                                template-fields="$$$cbb_nation.display_fields"
                                reload="false">
                            </combobox>
                    </div>
                </div>
                <!--Tỉnh/Thành-->
                <div class="form-group zb-form-group">
                    <label for="inputSignedBy" class="col-sm-5 zb-form-label">${get_res('province_code','Tỉnh/Thành')}</label>
                    <div class="col-sm-7">
                            <input-combobox id="inputEmployeeId"
                            api-url="${get_api_key('app_main.api.common/get_dropdown_list')}"
                            list-code="${encryptor.get_key('cbb_AD_Roles')}"
                            list-value="[{ '@dd_code': '' }]"
                            current-item="entity.province_code"
                            multi-select="false">
                        <combobox load-data="$root.$getComboboxData" 
                                    ng-model="entity.province_code"
                                    params="{key:'${encryptor.get_key('cbb_province_of_nation')}', value:[{ '@lock': true }, {'@nation_code': entity.nation_code}]}"
                                    on-search-change="false"
                                    on-search-press="true"
                                    placeholder=""
                                    init-data="$$$province_code.value"
                                    caption-field="{{$$$province_code.caption_field}}"
                                    paging="true"
                                    close-on-select="true"
                                    template-fields="$$$province_code.display_fields"
                                    reload="false">
                        </combobox>
                    </div>
                </div>
                <!--Quận/Huyện-->
                <div class="form-group zb-form-group">
                    <label for="inputSignedBy" class="col-sm-5 zb-form-label">${get_res('district_code','Quận/Huyện')}</label>
                    <div class="col-sm-7">
                            <input-combobox id="inputEmployeeId"
                            api-url="${get_api_key('app_main.api.common/get_dropdown_list')}"
                            list-code="${encryptor.get_key('cbb_AD_Roles')}"
                            list-value="[{ '@dd_code': '' }]"
                            current-item="entity.district_code"
                            multi-select="false">
                        <combobox load-data="$root.$getComboboxData" 
                                    ng-model="entity.district_code"
                                    params="{key:'${encryptor.get_key('cbb_district_of_province')}', value:[{'@lock':true},{ '@district_code': entity.province_code }]}"
                                    on-search-change="false"
                                    on-search-press="true"
                                    placeholder=""
                                    init-data="$$$district_code.value"
                                    caption-field="{{$$$district_code.caption_field}}"
                                    paging="true"
                                    close-on-select="true"
                                    template-fields="$$$district_code.display_fields"
                                    reload="false">
                        </combobox>
                    </div>
                </div>
                <!--Vùng/Miền-->
                <div class="form-group zb-form-group">
                    <label for="inputSignedBy" class="col-sm-5 zb-form-label">${get_res('region_code','Vùng/Miền')}</label>
                    <div class="col-sm-7">
                            <input-combobox id="inputEmployeeId"
                            api-url="${get_api_key('app_main.api.common/get_dropdown_list')}"
                            list-code="${encryptor.get_key('cbb_AD_Roles')}"
                            list-value="[{ '@dd_code': '' }]"
                            current-item="entity.region_code"
                            multi-select="false">
                        <combobox load-data="$root.$getComboboxData" 
                                    ng-model="entity.region_code"
                                    params="{key:'${encryptor.get_key('cbb_region')}', value:[{ '@lock': true }]}"
                                    on-search-change="false"
                                    on-search-press="true"
                                    placeholder=""
                                    init-data="$$$region_code.value"
                                    caption-field="{{$$$region_code.caption_field}}"
                                    paging="true"
                                    close-on-select="true"
                                    template-fields="$$$region_code.display_fields"
                                    reload="false">
                        </combobox>
                    </div>
                </div>
            </div>
        </collapse-box>
    </div>
    <div class="clearfix"></div>
</div>
<script>
    <%include file="./scripts/common.js"/>
</script>